<div class="container">
  <div class="row">

    <div class="span12 white-bg"  style='height:auto;margin-bottom:50px;'>

      <div class="row">
        <div class="span6">
          <div class="row text-center">
            <div class="span6 pc-title">
              <h2>ROLEM ELEMENTO MAXIMUM EDITION  </h2>
            </div>
          </div>
          <div class="row">

            <div class="span6" style="margin-left:150px;">
              <a href="<%= image_path 'Elemento/4.jpg' %>" class="zoomableImage" rel="gal1" title="Elemento">
                <%=	image_tag 'Elemento/4.jpg', alt: 'Elemento', class:'pc-height', title: 'Elemento' %>

              </a>
            </div>
          </div>
          <div class="row ">
            <div class="span6">
              <div class="row">
                <div class="offset1 span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Elemento/4.jpg') %>', largeimage:'<%= image_path('Elemento/4.jpg') %>'}">
                    <%= image_tag 'Elemento/4.jpg', alt: 'Elemento', class:'thumbnail'  %>

                  </a>
                </div>                
                <div class="span1">
                  <a class="zoomThumbActive" href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Elemento/1.jpg') %>', largeimage:'<%= image_path('Elemento/1.jpg') %>'}">
                    <%=	image_tag 'Elemento/1.jpg', alt: 'Elemento', class:'thumbnail'  %>

                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Elemento/2.jpg') %>', largeimage:'<%= image_path('Elemento/2.jpg') %>'}">
                    <%=	image_tag 'Elemento/2.jpg', alt: 'Elemento', class:'thumbnail'  %>

                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Elemento/3.jpg') %>', largeimage:'<%= image_path('Elemento/3.jpg') %>'}">
                    <%=	image_tag 'Elemento/3.jpg', alt: 'Elemento', class:'thumbnail'  %>

                  </a>
                </div>

              </div>
            </div>
          </div>
              <br>
              <br><div class="span6"><strong class="precio">Precio:   $1.980.000 </strong>  (IVA incluido)</div>
              
              <br>
              <br>
        </div>
        <div class="span6">
          <div class="tabs-margin">
            <div class="tabbable tabs-title">
              <ul class="nav nav-tabs no-border">
                <!-- <li><a href="#pane1" data-toggle="tab">DESCRIPCIÓN</a></li> -->
                <li class="active border-tabs"><a href="#pane2" data-toggle="tab">ESPECIFICACIONES</a></li>
                <li><a href="#pane3" data-toggle="tab">DESCARGAS</a></li>
                <li class="offset1"><%= link_to 'Elemento',productos_elemento_path %></li>
              </ul>
              <div class="tab-content tabs-bg">
<!--                 <div id="pane1" class="tab-pane active pane-tablet">
                  <ul>
                    <li>• Disco Duro de alta capacidad más Solid-State Cache Para tiempos de respuesta instantáneos.</li>
                    <li>• Da el salto a la GeForce® GTX 650 TI Boost para disfrutar de los más veloces juegos de pc de última generación a una calidad excepcional.</li>
                    <li>• Chasis con tan solo 24 cm de altura.</li>
                    <li>• Alta conectividad por medio de Wi-Fi y USB 3.0.</li>
                    <li>• Reproductor de DVD con quemador. Multimedia sin límites.</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div> -->
                <div id="pane2" class="tab-pane active pane-tablet">
                  <table>
                    <tr>
                      <td>PUNTAJE 3D MARK</td>
                      <td>2286 - Fire Strike</td>

                    </tr> 
                    <tr>
                      <td>PROCESADOR</td>
                      <td>AMD A10 78500k Quad-Core 3.7 GHz/4.0 GHz Turbo Core</td>
                    </tr> 
                    <tr>
                      <td>SO</td>
                      <td>Windows 8.1 - 64bit Windows</td>
                    </tr>
                    <tr>
                      <td>CHASSIS:</td>
                      <td>Thermaltake SD 101</td>
                    </tr>                     
                    <tr>
                      <td>CHIPSET</td>
                      <td>A88X</td>
                    </tr> 
                    <tr>
                      <td>MEMORIA RAM</td>
                      <td>8GB Doble Canal - 2400 MHz DDR3</td>
                    </tr> 
                    <tr>
                      <td>VGA/GPU</td>
                      <td>AMD Radeon R7 250 1GB GDDR5 PCIe 3.0 <br> 
                        AMD Dual Graphics Technology</td>
                    </tr> 
                    <tr>
                      <td>ALMACENAMIENTO</td>
                      <td>500GB - 7200rpm Híbrido <br>120 GB - Boot SSD</td>
                    </tr> 
                    <tr>
                      <td>REDES</td>
                      <td>Wi-Fi Integrado 802.11 b/g/n/ac <br> Bluetooth 4.0 <br> LAN (10/100/1000 Mbits/seg.)</td>
                    </tr>
                    <tr>
                      <td>INTERFAZ</td>
                      <td>P/D</td>
                    </tr>
                    <tr>
                      <td>DIMENSIONES</td>
                      <td>26.4cm (Alto) x 11.9cm (Ancho) x 26.1cm (Largo)</td>
                    </tr>
                    <tr>
                      <td>GARANTIA</td>
                      <td>1 Año de garantia por partes defectuosas <br> Soporte tecnico Online</td>
                    </tr>                                                         
                  </table>
                </div>
                <div id="pane3" class="tab-pane pane-tablet">
                  <h4>Programas</h4>
                  <ul>
                    <li>Drivers: <a href="http://support.amd.com/en-us/download/auto-detect-tool"target="_blank"style="color:#fe9c39;"><strong>http://support.amd.com/en-us/download/auto-detect-tool</strong></a></li>
                    <li>Raptr: <a href="http://raptr.com/amd" target="_blank"style="color:#fe9c39;"><strong>http://raptr.com/amd</strong></a></li>
                    <li>Steam: <a href="http://store.steampowered.com/about/"target="_blank"style="color:#fe9c39;"><strong>http://store.steampowered.com/about/</strong></a></li>
                    <li>Utilidades: <a href="http://ninite.com/"target="_blank"style="color:#fe9c39;"><strong>http://ninite.com/</strong></a></li>
                    <li>3DMark: <a href="http://www.futuremark.com/benchmarks/3dmark#windows"target="_blank"style="color:#fe9c39;"><strong>http://www.futuremark.com/benchmarks/3dmark#windows</strong></a></li>
                  </ul>

                </div>
              </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
            <button class="btn btn-warning pull-right">
              <%= link_to '¿Como comprar?', como_comprar_path, class:'btn-comprar' %>
            </button>
            <%= render 'social' %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'zoom' %>