  <div class="container">
  <div class="row">

    <div class="span12 white-bg" style='height:auto;margin-bottom:50px;'>

      <div class="row">
        <div class="span6">
          <div class="row text-center">
            <div class="span6 pc-title">
              <h2>ROLEM FORCE</h2>
            </div>
            <br><br>
          </div>
          <div class="row text-center">

            <div class="span6" style="margin-left:150px;">
              <a href="<%= image_path 'Force/1.jpg' %>" class="zoomableImage" rel="gal1" title="Force">
                <%=	image_tag 'Force/1.jpg', alt: 'Force', class:'pc-height', title: 'Force' %>

              </a>
            </div>
          </div>
          <div class="row ">
            <div class="span6">
              <div class="row">
                <div class="offset1 span1">
                  <a class="zoomThumbActive" href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Force/1.jpg') %>', largeimage:'<%= image_path('Force/1.jpg') %>'}">
                    <%=	image_tag 'Force/1.jpg', alt: 'Force', class:'thumbnail'  %>

                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Force/2.jpg') %>', largeimage:'<%= image_path('Force/2.jpg') %>'}">
                    <%=	image_tag 'Force/2.jpg', alt: 'Force', class:'thumbnail'  %>

                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Force/3.jpg') %>', largeimage:'<%= image_path('Force/3.jpg') %>'}">
                    <%=	image_tag 'Force/3.jpg', alt: 'Force', class:'thumbnail'  %>

                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Force/main.jpg') %>', largeimage:'<%= image_path('Force/main.jpg') %>'}">
                    <%=	image_tag 'Force/main.jpg', alt: 'Force', class:'thumbnail'  %>

                  </a>
                </div>
              </div>
              <br>
              <br><div class="span6"><strong>Precio:  $2.580.000</strong>  (IVA incluido)</div>
              
              <br>
              <br>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="tabs-margin">
            <div class="tabbable tabs-title">
              <ul class="nav nav-tabs no-border">
                <!-- <li class="active border-tabs"><a href="#pane1" data-toggle="tab">DESCRIPCIÓN</a></li> -->
                <li class="active border-tabs"><a href="#pane2" data-toggle="tab">ESPECIFICACIONES</a></li>
                <li><a href="#pane3" data-toggle="tab">DESCARGAS</a></li>
              </ul>
              <div class="tab-content tabs-bg">
<!--                 <div id="pane1" class="tab-pane active pane-tablet">
                  <ul>
                    <li>• Disco Duro de alta capacidad más Solid-State Cache Para tiempos de respuesta instantáneos.</li>
                    <li>• Da el salto a la GeForce® GTX 650 TI Boost para disfrutar de los más veloces juegos de pc de última generación a una calidad excepcional.</li>
                    <li>• Chasis con tan solo 24 cm de altura.</li>
                    <li>• Alta conectividad por medio de Wi-Fi y USB 3.0.</li>
                    <li>• Reproductor de DVD con quemador. Multimedia sin límites.</li>
                  </ul>
                </div> -->
                <div id="pane2" class="tab-pane active pane-tablet">
                  <table>
                    <tr>
                      <td>PUNTAJE 3D MARK</td>
                      <td>P/D</td>
                    </tr>
                    <tr>
                      <td>PROCESADOR</td>

                      <td>Intel Core i5 4570 Quad-Core 3.2 GHz/3.6 GHz Turbo Boost</td>
                    </tr>
                    <tr>
                      <td>SO</td>
                      <td>Windows 8.1 - 64bit Windows </td>
                    </tr>
                    <tr>
                      <td>CHASSIS</td>
                      <td>Cooler Master Elite 130</td>
                    </tr>                  
                    <tr>

                      <td>CHIPSET</td>
                      <td>Z87</td>
                    </tr>
                    <tr>
                      <td>MEMORIA RAM</td>

                      <td>8 GB Doble Canal - 1600 MHz DDR3</td>
                    </tr>
                    <tr>
                      <td>VGA/GPU</td>
                      <td>NVIDIA GeForce GTX 760 2GB GDDR5 PCIe 3.0</td>
                    </tr>
                    <tr>
                      <td>REFRIGERACIÓN</td>
                      <td>Sistema de plaquetas de cobre</td>
                    </tr>
                    <tr>
                      <td>ALMACENAMIENTO</td>
                      <td> 1 TB - 5400rpm Híbrido SSHD <br> 8GB - SSD Cache </td>
                    </tr>
                    <tr>
                      <td>UNIDAD ÓPTICA</td>
                      <td>Quemador de DVD 24x Doble Capa </td>
                    </tr>
                    <tr>
                      <td>REDES</td>
                      <td>Wi-Fi Integrado 802.11 b/g/n/ac <br> Bluetooth 4.0 <br> LAN (10/100/1000 Mbits/seg.)</td>
                    </tr>
                    <tr>
                      <td>INTERFAZ</td>
                      <td>P/D</td>
                    </tr>
                    <tr>
                      <td>DIMENSIONES</td>
                      <td>20.5cm (Alto) x 24cm (Ancho) x 37,7cm (Largo)</td>
                    </tr> 
                    <tr>
                      <td>GARANTIA</td>
                      <td>1 Año de garantia por partes defectuosas <br> Soporte tecnico Online</td>
                    </tr>                                                                               
                  </table>
                </div>
                <div id="pane3" class="tab-pane pane-tablet">
                  <h4>Programas</h4>
                  <ul>
                    <li>Drivers: <a href="http://www.geforce.com/drivers" target="_blank" style="color:#fe9c39;"><strong>http://www.geforce.com/drivers</strong></a></li>
                    <li>Geforce Experience: <a href="http://www.geforce.com/geforce-experience" target="_blank" style="color:#fe9c39;"><strong>http://www.geforce.com/geforce-experience</strong></a></li>
                    <li>Steam: <a href="http://store.steampowered.com/about/" target="_blank" style="color:#fe9c39;"><strong>http://store.steampowered.com/about/</strong></a></li>
                    <li>Utilidades: <a href="http://ninite.com/" target="_blank" style="color:#fe9c39;"><strong>http://ninite.com/</strong></a></li>
                    <li>3DMark: <a href="http://www.futuremark.com/benchmarks/3dmark#windows" target="_blank" style="color:#fe9c39;"><strong>http://www.futuremark.com/benchmarks/3dmark#windows</strong></a></li>
                  </ul>

                </div>
              </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
            <button class="btn btn-warning pull-right">
              <%= link_to '¿Como comprar?', como_comprar_path, class:'btn-comprar' %>
            </button>
            <%= render 'social' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'zoom' %>