<div class="container">
  <div class="row">

    <div class="span12 black-bg"style="margin-bottom:50px;">

      <div class="row">
        <div class="span4">
          <div class="compania-navegacion">
            <ul class="nav nav-tabs nav-stacked no-border">
              <li class="active">
                <a href="#1" data-toggle="pill" class="sharp">Costo Total (Juegos más económicos)<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#2" data-toggle="pill" class="sharp">Mejores Graficas<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#3" data-toggle="pill" class="sharp">Hardware<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#4" data-toggle="pill" class="sharp">Mods<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#5" data-toggle="pill" class="sharp">Online<i class="icon-chevron-right pull-right"></i></a>
              </li>
              <li>
                <a href="#6" data-toggle="pill" class="sharp">Opción de controles<i class="icon-chevron-right pull-right"></i></a>
              </li> 
              <li>
                <a href="#7" data-toggle="pill" class="sharp">Libertad<i class="icon-chevron-right pull-right"></i></a>
              </li> 
              <li>
                <a href="#8" data-toggle="pill" class="sharp">Legacy Gaming y Emulación<i class="icon-chevron-right pull-right"></i></a>
              </li> 
              <li>
                <a href="#9" data-toggle="pill" class="sharp">DLCs Gratis<i class="icon-chevron-right pull-right"></i></a>
              </li>               
              <li>
                <a href="#10" data-toggle="pill" class="sharp">Librería Diversa<i class="icon-chevron-right pull-right"></i></a>
              </li> 
              <li>
                <a href="#11" data-toggle="pill" class="sharp">Mejor Soporte<i class="icon-chevron-right pull-right"></i></a>
              </li> 
              <li>
                <a href="#12" data-toggle="pill" class="sharp">Comunidad<i class="icon-chevron-right pull-right"></i></a>
              </li>  

            </ul>
          </div>
        </div>
        <div class="span8 tab-content">

          <div id="1" class="tab-pane active contenido-compania">

            <p>Es verdad que un PC para jugar es más caro que una consola inicialmente, con un PC tú ahorras dinero a lo largo del tiempo, ya que los juegos son más baratos en PC que en una consola. Generalmente cuando se realiza la pre-orden de un juego en PC por medio de Steam, es posible obtener descuentos del 10%. Tampoco debemos olvidar las famosísimas temporadas de descuentos en Steam y Origin, entre otras plataformas, donde los juegos pueden ser comprados frecuentemente por fracciones del precio en vitrina; Una de las temporadas más reconocidas, es la de navidad en Steam, donde se pueden comprar muchos juegos por unos pocos dólares.</p>

            <p>También contamos con Humble Bundle, un sitio donde podemos pagar literalmente lo que queramos por excelentes promociones de juegos, variando desde títulos Indie, hasta los más reconocidos títulos AAA. Además gran parte de las ganancias de esta página son donadas a fundaciones como La Cruz Roja y la Electronic Frontier Foundation, una fundación que defiende nuestros derechos en el mundo digital.</p>

            <p>A manera de ejemplo, tenemos unos cálculos aproximados realizados por TNG Systems, donde también cabe notar que el costo total del PC podría reducirse considerablemente, si esos 40 juegos se compran con descuentos en Steam:</p>
            <br>
            <p><%= image_tag "pqpc/cost-of-a-gaming-pc.jpg" , :title => "Costo de un PC gaming", :alt => "cost of a gaming pc" %></p>

          </div>

          <div id="2" class="tab-pane contenido-compania">
            <p>Normalmente esta es la opción que la gente escoge por defecto al darle atención al PC. Cuando nuestros amigos con consolas ven juegos corriendo en PC, ellos literalmente no pueden creer lo rápido que corre, lo claro que todo se ve, ni la fidelidad visual en general. El PC Gaming es lo último en tecnología. Es lo mejor disponible, es a donde la industria en general se está moviendo, y siempre lo será. En el 2007, Crysis fue el punto definitivo cuando la tecnología del PC dio pasos agigantados por encima de las consolas. Desde entonces, hemos visto como muchísimos juegos siempre sacan un mayor provecho a la tecnología del PC para mostrar mejores gráficos.</p>
            <br>
            <p> <%= image_tag "pqpc/graficos-crysis-3-pc.jpeg" , :title => "Graficos crysis 3 en PC" ,:alt => "Graficos crysis 3 en PC"  %> </p>
            <br>
            <p>Inclusive con la siguiente generación de consolas, el PC sigue siendo una liga propia y retirada cuando se trata de capacidad gráfica.</p>
            <br>

            <p><%= image_tag "pqpc/graficos-the-witcher-3-PC.jpg" , :title => "Graficos The Witcher 3 en PC", :alt => "Graficos The Witcher 3 en PC"  %></p>
          </div>

          <div id="3" class="tab-pane contenido-compania">
            <p>Un PC para Gamers puede ser tan económico o tan extravagante como tú necesites que sea. Las configuraciones se pueden personalizar perfectamente a tu presupuesto o a todas tus necesidades como Gamer. Existe una amplia variedad de Hardware para elegir, por lo cual no se está ligado a una pequeña selección de sistemas. Un PC Gamer puede disfrutar de múltiples marcas, que a su vez ofrecen múltiples tecnologías distintas, por lo cual se cuenta con las mejores opciones en el mercado.</p>
            <p>Pero lo más importante del Hardware en los PCs, es que no se está limitado a conservarlo durante muchos años (las consolas tienen ciclos de vida que varían entre 5 y 9 años), por el contrario, los más grandes fabricantes de partes están en un proceso constante de lanzamiento de nuevos productos, donde cada año introducen nuevas tecnologías, dándote la libertad de actualizar tu PC como quieras y cuando quieras.</p>
            <br>
            <center><p><%= image_tag "pqpc/consola-vs-pc-hardware-specs.jpg" , :title => "NO!!!!!!!", :alt => "Consola vs Pc Hardware specs" %></p></center>

          </div>

          <div id="4" class="tab-pane contenido-compania">
            <p>Fácilmente este es uno de los argumentos más fuertes para jugar en PC, los mods son contenido gratuito, creado por el usuario, que cualquier persona puede descargar e instalar para mejorar o cambiar un juego. Modificando juegos es donde nacen muchas de las innovaciones de esta industria. Por ejemplo, Counter Strike era un mod del original Half Life, ganando tanta popularidad dentro de los jugadores Hardcore de FPS, que después pavimentó la vía para Shooters militares modernos tales como Battlefield y Call of Duty.</p>
            <p>Otro gran ejemplo es el equipo que creó DayZ desde el Shooter moderno exclusivo para PC, ARMA II. DayZ se volvió un fenómeno del día a la noche de tal manera que ahora ha evolucionado a ser un juego totalmente independiente gracias a su popularidad.</p>
            <p>También podemos tener el excelente ejemplo de DotA, que siendo un simple mod del juego Warcraft III, alcanzó una popularidad tan elevada que no solo se volvió un juego totalmente independiente, sino que también un género completo (MOBA) dando paso a muchos más juegos similares, como Heroes of Newerth y League of Legends.</p>
            <p>Mientras algunos mods cambian gameplay o añaden nuevos mapas, vehículos y armas, otros mods existen para mejorar las gráficas. Con GTA IV, los Gamers han usado los mods ICEnhancer y ENB Series para lograr que el juego se vea absolutamente impactante. Skyrim se puede modificar para que el juego se vea casi foto realista, poniendo la fidelidad visual del juego pasos agigantados sobre la versión inicial.</p>
            <br>
            <center><p><%= image_tag "pqpc/gta-iv-pc-mod-icenhanser.jpg", :alt => "gta IV Mod icenhanser" , :title =>"gta IV Mod icenhanser"  %></p></center>
            <br>
            <p>Finalmente, algunos juegos son extremadamente populares con mods, y hacer mods únicamente se está volviendo más fácil. Con el Workshop de Steam, instalar un mod en Skyrim es el simple caso de clickear “instalar mod”, sin preocupaciones ni enredos. El Workshop de Steam inclusive enlista los mods por su popularidad, de tal manera que es posible encontrar los mejores inmediatamente.</p>
            <br>
            <center><p><%= image_tag "pqpc/skyrim-pc-mods.jpg", :alt => "Skyrim PC mods" ,:title => "Skyrim PC mods"  %></p></center>

          </div>

          <div id="5" class="tab-pane contenido-compania">
            <p>Primero que todo, ES GRATIS. Con la obvia excepción de MMOs como World of Warcraft, no es necesario pagar un centavo de más para poder jugar online. Si ya se tiene que pagar por el Hardware, por el juego, por la conexión a internet, ¿Por qué carajos se debería pagar otro monto adicional, simplemente para conectarse con otros jugadores?</p>
            <br>
             <center><p><%= image_tag "pqpc/juegos-online-gratis-en-pc.png", :alt => "Juegos Online en PC" ,:title => "Juegos Online gratis en PC"  %></p></center>

          </div>

          <div id="6" class="tab-pane contenido-compania">
            <p>Vamos a usar algunos FPSs de Xbox para probar este argumento fácilmente. En Halo, se golpea melee con B. En COD, se golpea melee con Click Derecho. En BF3, se golpea melee con Bumper Derecho… ¿Que pasa aquí? ¿Existe una mejor manera? Si. En PC, en todos los FPS que se pueden jugar, siempre se puede tener el golpe melee asignado a la misma tecla, así como las granadas a otra. Siempre se puede tener la misma tecla para saltar, la misma para agacharse, para moverse y para correr, etc. En PC, se es posible cambiar los controles según nuestras necesidades exactas.</p>
            <br>
            <center><p><%= image_tag "pqpc/controles-para-pc.jpg", :alt => "Controles para PC" ,:title => "Controles para PC"  %></p></center>
            <br>
            <p>¿Qué tal si hacemos las cosas un poco más locas? Qué tal si queremos jugar BF3 con teclado y mouse para cuando estamos en tierra o a pie, pero cuando estamos volando un jet entonces podemos cambiar a un control de Xbox para Windows, o a un Joystick que tenemos conectado, ¿por qué no? Eso es lo que hacemos. Y si no tenemos un control de Xbox, podemos jugar con un control de PS3, o con uno totalmente genérico (además de económico). Para juegos como Shooters y juegos de estrategia puede ser preferible usar mouse y teclado, pero de nuevo, uno tiene la opción de elegir.¿Por qué no se puede usar mouse y teclado en una consola? Sería bueno si se pudiera, pero allí no tenemos la opción de elegir.</p>
            <p>Adicionalmente, contamos con uno de los controles más revolucionarios de los últimos tiempos, el Steam Controller: [Link: http://store.steampowered.com/livingroom/SteamController/]</p>
            <br>
            <center><p><%= image_tag "pqpc/valve-steam-controller-pc-redesign.jpg", :alt => "Valve Steam Controller PC redesign" ,:title => "Valve Steam Controller PC redesign"  %></p></center>
          </div>

          <div id="7" class="tab-pane contenido-compania">
            <p>Nadie es dueño de la plataforma PC. Nadie dijo “¡no puedes!”. Nadie empuja publicidades intrusivas. Somos totalmente libres de hacer lo que queramos con nuestros PCs. Podemos instalar Windows, Linux, o hasta Mac para jugar (algunos son mejores que otros). Si queremos modificar nuestros juegos, adelante. Si queremos jugar con un control, ¡tenemos el poder! Jugamos como queremos y nadie lo impide. Tenemos la libertad de jugar como queramos.</p>
            <br>
            <center><p><%= image_tag "pqpc/libertad-valve-steamos.PNG", :alt => "Libertad Valve SteamOS" ,:title => "Libertad Valve SteamOS"  %></p></center>
            <br>
            <p>También contamos con una infinidad de plataformas. En las consolas solo están PSN y Xbox Live, solo una plataforma permitida por cada consola. Es absurdo. En PC tenemos Steam, Origin, GOG, Capsule y Xfire entre otras. Puedes encontrar mas informacion en: http://steamunpowered.eu/steam-alternatives/</p>
            <br>
            <center><p><%= image_tag "pqpc/logo-steam-unpowered-steam-alternatives.png", :alt => "Logo Steam Unpowered" ,:title => "Logo Steam Unpowered"  %></p></center>
          </div>
          <div id="8" class="tab-pane contenido-compania">
            <p>Algo que siempre será divertido. Cuando la nostalgia nos golpea, es fácil abrir un emulador para jugar el Original Mario Bros o Contra. Tal vez quieres usar un emulador de Gamecube y jugar Super Smash Bros Melee. ¿Por qué no? La emulación es 100% legal siempre y cuando tengas una copia original del juego que quieras emular.</p>
            <br>
            <center><p><%= image_tag "pqpc/legacy-gaming-y-emulacion-en-pc.jpg", :alt => "Legacy gaming y emulación en PC" ,:title => "Legacy gaming y emulación en PC"  %></p></center> 
            <br>
            <p>Adicionalmente, también tiene soporte de juegos antiguos en PC, gracias a programas como <a style="color:#f89406;" href="http://www.dosbox.com/  ">DosBox </a>. Ahora puedes jugar títulos de DOS como <a style="color:#f89406;" href=" http://www.3drealms.com/raptor/">Raptor: Call of the Shadows</a> o el <a style="color:#f89406;" href="http://www.team17.com/games/worms/worms-original#PC">Worms original</a>. Tal vez <a style="color:#f89406;" href="http://en.wikipedia.org/wiki/Lemmings_(video_game)">Lemmings</a>. ¿Qué tal <a style="color:#f89406;" href="http://en.wikipedia.org/wiki/Doom_(video_game)">Doom</a>? ¿O <a style="color:#f89406;" href="http://store.steampowered.com/app/2320/ "> Quake 2</a>? Diviértete! </p>
          </div>

          <div id="9" class="tab-pane contenido-compania">
            <p>Dado que nadie es dueño del PC como plataforma, los desarrolladores son libres de distribuir sus contenidos como deseen. Los fabricantes de consolas típicamente no permiten la descarga gratuita de contenido ya que es una oportunidad para hacer más dinero. En PC, la historia es distinta. Por ejemplo: en Call of Duty 4, todos los mapas fueron lanzados libres de cargos, y también recibimos una versión navideña del mapa “Crash”, donde todo el mapa estaba cubierto de nieve y saturado con árboles navideños y regalos. En Left 4 Dead 2, el contenido extra debe ser comprado en consolas, pero es gratuito en PC. Team Fortress 2 es un juego totalmente diferente gracias a las muchas, muchas actualizaciones que ha recibido continuamente durante el tiempo, pero estas actualizaciones no fueron lanzadas en Xbox debido a que Microsoft quería cobrar por ellas.</p>
            <p>The Witcher 2 recibió de manera gratuita un parche de 10GB, mejorando el juego en una multitud de áreas, así como ha estado recibiendo otras actualizaciones y misiones, gratis.</p>
            <br>
            <center><p><%= image_tag "pqpc/dlc-gratis.jpg", :alt => "Dlc Gratis" ,:title => "Dlc Gratis"  %></p></center>
          </div>

          <div id="10" class="tab-pane contenido-compania">
            <p>De lo más atractivo en consolas, especialmente en esta generación, son los First Person Shooters. Después, tienes el raro juego de acción como Uncharted, luego un par de Racers como Forza y Gran Turismo. No existe una gran variedad. Juegos como los de estrategia (RTS) simplemente no funcionan en consola, y los simuladores no son exactamente el diario elegir del jugador promedio. Todos estos géneros, y más, nacieron en PC y pertenecen ahí. Constructores de ciudades, juegos de apuntar y clickear, juegos de aventura, Dungeon Crawlers, simuladores de carreras, de vuelo, de trenes, MMORPG’s, MMOFPS, ¿Lo quieres? Lo tienes. Todo en PC.</p>
            <br>
            <center><p><%= image_tag "pqpc/juegos-exclusivos-de-pc-world-of-warcraft-league-of-legends-arma-iii-dota-2-half-life-logos.PNG", :alt => "juegos exclusivos de pc world of warcraft league of legends arma iii dota 2 half life logos" ,:title => "Juegos Exclusivos de PC: World of Warcraft, League of Legends, Arma III, Dota 2, Half life"  %></p></center><br>
            <p>Adicionalmente, como ejemplo, dejamos una lista de juegos exclusivos por plataforma que están por ser lanzados. La lista es un poco extensa, ya sabremos gracias a quien:</p>
            <br>
            <center><p><%= image_tag "pqpc/consola-vs-pc-juegos-exclusivos.jpg", :alt => "Consola vs PC Juegos exclusivos" ,:title => "Consola vs PC Juegos exclusivos"  %></p></center>
          </div>

          <div id="11" class="tab-pane contenido-compania">
            <p>No vamos a ponerle dulce a estas palabras – la tecnología puede fallar, y las partes electrónicas pueden dejar de funcionar. Le pasa a todo: Xbox, Playstation, Wii U, PC, PS Vita, 3DS, DVD, Blue Ray, Televisores, Parlantes, Monitores, todo se daña en algún un punto o en otro. A lo que queremos llegar es que un PC es muchísimo más fácil de reparar cuando algo sale mal, opuesto a lo que pasa en una consola. Si una consola se daña, tienes que enviarla al fabricante y pagarla para que la repare. Obtienes una garantía limitada que cuando termina significa una factura potencialmente alta. Pero si una parte en tu PC se daña, la mayoría de las veces simplemente se reduce a cambiarla sin problema alguno para que puedas seguir jugando lo que más te gusta. Es mucho más fácil que poner todo en una caja, sellarla, enviársela a Microsoft o a Sony (o a algún taller informal con personal no-capacitado), y esperar tres semanas para que te entreguen la maquina reparada de alguien más.</p>
            <br>
            <center><p><%= image_tag "pqpc/consola-vs-pc-soporte-tecnico.jpg", :alt => "consola vs PC soporte tecnico" ,:title => "consola vs PC soporte tecnico"  %></p></center>
          </div>

          <div id="12" class="tab-pane contenido-compania">
            <p>En Steam te puedes unir a varios grupos o crear uno propio. En estos grupos de comunidad, fácilmente puedes compartir anuncios, discutir sobre juegos u organizar sesiones de juego grupal con notificaciones que les permiten a los jugadores saber cuándo deben reunirse para jugar. Combinando las listas de juegos deseados con las rebajas de temporada, se ve como resultado números masivos de juegos siendo regalados de y para amigos del internet, simplemente por buena voluntad.</p>
            <br>
            <center><p><%= image_tag "pqpc/comunidad-de-pc-gamers-lan.jpg", :alt => "Comunidad de PC Gamers Lan" ,:title => "Comunidad de PC Gamers Lan"  %></p></center>
            <p> <strong>Particularmente, en Rolem apoyamos a la Comunidad Steam Colombia, donde hacemos rifas de juegos, ayudamos a organizar torneos, y realizamos eventos donde los usuarios de Steam pueden probar de primera mano las últimas tecnologías.</strong>  </p>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>