

<div class="productos container" >


  <%= link_to productos_elemento_path do %>  
    <div class="bloquep">
      <ul class="derecha">
      </ul>  
      <ul class="nav nav-tabs no-border">
        <li>     
          <%=  image_tag 'Elemento/main.jpg', alt: 'Elemento' %>
        </li>
        <h1>Rolem Elemento</h1>
        <div class="row logos" style="margin-top:25px;">
          <%=  image_tag 'Elemento/52902B_AMD_A10_E_RGB.png' %>
          <%=  image_tag 'Elemento/52918B_AMD_Rad_E_RGB.png' %>
          <br>
          <%=  image_tag 'Elemento/54220A_AMD_MANTLE_E_RGB.png' %>
          <%=  image_tag 'Elemento/53890C_AMD_TrueAudio_E_RGB.png' %>
        </div>
      </ul>
    </div>
  <% end -%>

  <%= link_to productos_elementoM_path do %>
    <div class="bloquep">
      <ul class="nav nav-tabs no-border">
        <li class="derecha">
          <%=  image_tag 'Elemento/main.jpg', alt: 'Elemento Maximum Edition' %>
        </li>
        <h1>Rolem Elemento</h1>
        <h3>Maximun Edition</h3>
        <div class="row logos" style="margin-left:35px;">
          <%=  image_tag 'Elemento/53877A_AMD_Rad_R7_E_RGB.png' %>
          <%=  image_tag 'Elemento/53503C_AMD_CrossFire_E_RGB.png' %>
        </div>
      </ul>  
    </div>
  <% end -%>

  <%= link_to productos_volcanoA_path do %>
    <div class="bloquep">
      <ul class="nav nav-tabs no-border">
        <li class="derecha">
          <%=  image_tag 'Volcano/main.jpg', alt: 'VolcanoA' %>
        </li>
        <h1 style="margin-left:20px;">Rolem Volcano <strong>A</strong></h1>
        <div class="row logos" style="margin-left:35px; margin-top:25px;">
          <%=  image_tag 'Volcano/ci5_h_rgb_cl_168.png' %>
          <%=  image_tag 'Volcano/53877A_AMD_Rad_R7_E_RGB.png' %>
          <br>
          <%=  image_tag 'Volcano/54220A_AMD_MANTLE_E_RGB.png' %>
          <%=  image_tag 'Volcano/53890C_AMD_TrueAudio_E_RGB.png' %>
        </div>
      </ul> 
    </div>
  <% end -%>

  <%= link_to productos_volcanoIN_path do %>
    <div class="bloquep">
      <ul class="nav nav-tabs no-border">
        <li>        
          <%=  image_tag 'Volcano/main.jpg', alt: 'VolcanoIN' %>
        </li>
        <h1>Rolem Volcano <strong>IN</strong> </h1>
        <div class="row logos" style="margin-top:25px;">
          <%=  image_tag 'Volcano/ci5_h_rgb_cl_168.png' %>
          <%=  image_tag 'Volcano/NV_GF_GTX_alternate_badge_FOR_WEB_ONLY.jpg' %>
          <br>
          <%=  image_tag 'Volcano/PhysXbyNV_Black.png' %>
        </div>        
      </ul> 
    </div>
  <% end -%>

  <%= link_to productos_force_path do %>
    <div class="bloqueg">
      <ul class="nav nav-tabs no-border">
        <li>
          <%=  image_tag 'Force/main.jpg', alt: 'Force' %>
        </li>
        <h1 style="margin-left:300px;">Rolem Force</h1>
        <div class="row logos" style="margin-top:25px; margin-left:300px;">
          <%=  image_tag 'Force/ci5_h_rgb_cl_168.png' %>
          <%=  image_tag 'Force/NV_GF_GTX_alternate_badge_FOR_WEB_ONLY.png' %>
          <%=  image_tag 'Force/PhysXbyNV_Black.png' %>
        </div>          
      </ul> 
    </div>
  <% end -%>

  <%= link_to productos_raven_path do %>
    <div class="bloqueg">
      <ul class="nav nav-tabs no-border">
        <li class="derecha">
          <%=  image_tag 'Raven/main.jpg', alt: 'Raven' %>
        </li>
        <h1 style="margin-left:700px;"> Rolem Raven</h1>
        <div class="row logos" style="margin-top:25px; margin-left:500px;">
          <%=  image_tag 'Raven/52902B_AMD_A10_E_RGB.png' %>
          <%=  image_tag 'Raven/53878A_AMD_Rad_R9_E_RGB.png' %>
          <%=  image_tag 'Raven/54220A_AMD_MANTLE_E_RGB.png' %>
          <%=  image_tag 'Raven/53890C_AMD_TrueAudio_E_RGB.png' %>
        </div>          
      </ul>
    </div>
  <% end -%>

  <%= link_to productos_prodigy_path do %>
    <div class="bloqueg">
      <ul class="nav nav-tabs no-border">
        <li style="margin-left:20px;">
          <%=  image_tag 'Prodigy/main.png', alt: 'Prodigy' %>
        </li>
        <h1 style="margin-left:300px;">Rolem Prodigy</h1>
        <div class="row logos" style="margin-top:25px; margin-left:300px;">
          <%=  image_tag 'Prodigy/ci7_h_rgb_cl_168.png' %>
          <%=  image_tag 'Prodigy/NV_GF_GTX_alternate_badge_FOR_WEB_ONLY.jpg' %>
          <%=  image_tag 'Prodigy/PhysXbyNV_Black.png' %>
        </div>          
      </ul>
    </div>  
  <% end -%>

</div>