

<div class="categorias container" >


  <%= link_to productos_Small_path do %>  

    <div class="bloqueC">
      <br>
      <div class="titulo">
        <h1>Familia Small Form Factor</h1>
      </div>
      <br>
      <table>
        <tr>
          <td  style="width:250px;">
          <br>
            <div class="leyenda">
              <p>
                <h4><center> La evolución del PC. Máximo desempeño en los mejores Micro-Chassis.</center></h4>
              </p>
            </div>
          </td>
          <td>
            <div id="myCarousel1" class="carousel slide" style="width:90%; margin:10px;">
              <div class="carousel-inner" >
                <div class="item active">
                 <%=  image_tag 'catalogo/SFF/Rolem-Elemento-Thermaltake-SD101-angle-view.jpg', alt: 'Rolem Elemento Thermaltake SD101 angle view' %>
                </div>
                <div class="item">
                  <%=  image_tag 'catalogo/SFF/Rolem-Raven-Silverstone-bottom-angle-view.jpg', alt: 'Rolem Raven Silverstone bottom angle view' %>
                </div>
                <div class="item">
                  <%= image_tag 'catalogo/SFF/Rolem-Volcano-cooler-master-elite-110-top-angle-view.jpg', alt: 'Rolem Volcano cooler master elite 110 top angle view' %>  
                </div>
              </div>  
            </div>
          </td>
        </tr>
      </table>
      <br>
    </div>
  <% end -%>


  

    <div class="bloqueC">
      <br>
      <div class="titulo">
        <h1>Familia Tradicional</h1>
      </div>
      <br>
      <table>
        <tr>
          <td  style="width:250px;">
          <br>
            <div class="leyenda">
              <p>
                <h4><center> Alto rendimiento al mejor precio</center></h4>
              </p>
              <p><center><h2>¡Próximamente!</h2></center></p>
            </div>
          </td>
          <td>
            <div id="myCarousel1" class="carousel slide" style="width:90%; margin:10px;">
              <div class="carousel-inner" >
                <div class="item active">
                  <%=  image_tag 'Tradicionales/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-side-view.jpg', alt: 'Rolem Ignition thermaltake V3 black AMD edition side view' %>
                </div>
                <div class="item">
                  <%=  image_tag 'Tradicionales/Vision/Rolem-Ignition-thermaltake-V3-black-edition-top-angle-view.jpg', alt: 'Rolem Ignition thermaltake V3 black edition top angle view' %>  
                </div>
              </div>  
            </div>
          </td>
        </tr>
      </table>
      <br>
    </div>

</div>