<div class="container">
  <div class="row">
    <div class="span12 white-bg">
      <div class="row">
        <div class="span6">
          <div class="row text-center">
            <div class="span6 pc-title">
              <h2>ROLEM PRODIGY</h2>
            </div>
          </div>
          <div class="row text-center">
            <div class="span6">
              <a href="<%= image_path 'prodigy1.jpg' %>" class="zoomableImage" rel="gal1" title="Prodigy">
                <%=	image_tag 'prodigy1.jpg', alt: 'Prodigy', class:'pc-height', title: 'Prodigy' %>
              </a>
            </div>
          </div>
          <div class="row ">
            <div class="span6">
              <div class="row">
                <div class="offset1 span1">
                  <a class="zoomThumbActive" href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('prodigy1.jpg') %>', largeimage:'<%= image_path('prodigy1.jpg') %>'}">
                    <%=	image_tag 'prodigy1.jpg', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('prodigy2.jpg') %>', largeimage:'<%= image_path('prodigy2.jpg') %>'}">
                    <%=	image_tag 'prodigy2.jpg', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('prodigy3.jpg') %>', largeimage:'<%= image_path('prodigy3.jpg') %>'}">
                    <%=	image_tag 'prodigy3.jpg', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('prodigy4.jpg') %>', largeimage:'<%= image_path('prodigy4.jpg') %>'}">
                    <%=	image_tag 'prodigy4.jpg', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="tabs-margin">
            <div class="tabbable tabs-title">
              <ul class="nav nav-tabs no-border">
                <li class="active border-tabs"><a href="#pane1" data-toggle="tab">DESCRIPCIÓN</a></li>
                <li><a href="#pane2" data-toggle="tab">ESPECIFICACIONES</a></li>
                <li><a href="#pane3" data-toggle="tab">DESCARGAS</a></li>
              </ul>
              <div class="tab-content tabs-bg">
                <div id="pane1" class="tab-pane active pane-tablet">
                  <ul>
                    <li>• High capacity HDD more Solid-State Cache For instant response times.</li>
                    <li>• Easy upgrade to the GeForce ® GTX 650 TI Boost to enjoy the fastest games of last generation pc exceptional quality.</li>
                    <li>• Chassis with only 24 cm.</li>
                    <li>• High connectivity through Wi-Fi and USB 3.0.</li>
                    <li>• DVD burner. Boundless Multimedia.</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div id="pane2" class="tab-pane pane-tablet">
                  <table>
                    <tr>
                      <td>3D SCORE MARK</td>
                      <td>P/D</td>
                    </tr>
                    <tr>
                      <td>PROCESSOR</td>
                      <td>Intel Core i5 3470 Quad-Core 3.2 GHz/3.6 GHz Turbo Boost 2.0</td>
                    </tr>
                    <tr>
                      <td>OS</td>
                      <td>Windows 8 - 64bit</td>
                    </tr>
                    <tr>
                      <td>CHIPSET</td>
                      <td>P/D</td>
                    </tr>
                    <tr>
                      <td>RAM MEMORY</td>
                      <td>Dual Channel 8GB - DDR3 1600MHz</td>
                    </tr>
                    <tr>
                      <td>VGA/GPU</td>
                      <td>NVIDIA GeForce GTX 650 TI Boost 2GB GDDR5 PCIe 3.0</td>
                    </tr>
                    <tr>
                      <td>COOLING SYSTEM</td>
                      <td>CPU: Special FRONT: 120mm x 25mm Fan, SIDE: Fan? 80mm x 15mm, BOX HDD: 120mm x 25mm Fan (optional)</td>
                    </tr>
                    <tr>
                      <td>STORAGE</td>
                      <td>
                        1 TB: 7500rpm <br>
                        32 GB: SSD Cache
                      </td>
                    </tr>
                    <tr>
                      <td>OPTIC UNIT</td>
                      <td>24x DVD burner with Double Layer technology E-GREEN</td>
                    </tr>
                  </table>
                </div>
                <div id="pane3" class="tab-pane pane-tablet">
                  <h4>Pane 3 Content</h4>
                </div>
              </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
            <button class="btn btn-warning pull-right">
              <%= link_to '¿Dónde comprar?', comprar_path, class:'btn-comprar' %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'zoom' %>