<div class="container">
  <div class="row">

    <div class="span12 white-bg" style="height:auto; margin-bottom:50px;">

      <div class="row">
        <div class="span6">
          <div class="row text-center">
            <div class="span6 pc-title">
              <h2>ROLEM PRODIGY</h2>
            </div>
            <br>
            <br>
          </div>
          <div class="row-center">

            <div class=" span6" style="margin-left:150px;">
              <a href="<%= image_path 'Prodigy/1.png' %>" class="zoomableImage" rel="gal1" title="Prodigy">
                <%=	image_tag 'Prodigy/1.png', alt: 'Prodigy', class:'pc-height', title: 'Prodigy' %>

              </a>
            </div>
          </div>
          <div class="row ">
            <div class="span6">
              <div class="row">

                <div class="span6">
                <div class="offset1 span1">
                  <a class="zoomThumbActive" href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Prodigy/1.png') %>', largeimage:'<%= image_path('Prodigy/1.png') %>'}">
                    <%= image_tag 'Prodigy/1.png', alt: 'Prodigy', class:'thumbnail'  %>

                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Prodigy/2.png') %>', largeimage:'<%= image_path('Prodigy/2.png') %>'}">
                    <%= image_tag 'Prodigy/2.png', alt: 'Prodigy', class:'thumbnail'  %>

                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Prodigy/3.png') %>', largeimage:'<%= image_path('Prodigy/3.png') %>'}">
                    <%= image_tag 'Prodigy/3.png', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>

                
                </div>
                <br>
                <div class="span6">
                <div class="offset1 span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Prodigy/4.png') %>', largeimage:'<%= image_path('Prodigy/4.png') %>'}">
                    <%= image_tag 'Prodigy/4.png', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>                
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Prodigy/5.png') %>', largeimage:'<%= image_path('Prodigy/5.png') %>'}">
                    <%= image_tag 'Prodigy/5.png', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Prodigy/6.png') %>', largeimage:'<%= image_path('Prodigy/6.png') %>'}">
                    <%= image_tag 'Prodigy/6.png', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
                
                </div>


              </div>
              <br>
              <br><div class="span6"><strong>Precio:  $3.890.000</strong></div>
              
              <br>
              <br>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="tabs-margin">
            <div class="tabbable tabs-title">
              <ul class="nav nav-tabs no-border">
                <!-- <li ><a href="#pane1" data-toggle="tab">DESCRIPCIÓN</a></li> -->
                <li class="active border-tabs"><a href="#pane2" data-toggle="tab">ESPECIFICACIONES</a></li>
                <li><a href="#pane3" data-toggle="tab">DESCARGAS</a></li>
              </ul>
              <div class="tab-content tabs-bg">
<!--                 <div id="pane1" class="tab-pane active pane-tablet">
                  <ul>
                    <li>• Disco Duro de alta capacidad más Solid-State Drive dedicado para tiempos de respuesta instantáneos.</li>
                    <li>• Chasis con todas las características y expandibilidad que necesitas, en el espacio más compacto posible.</li>
                    <li>• Alta conectividad por medio de Wi-Fi, Bluetooth 4.0 y USB 3.0.</li>
                    <li>• Reproductor de Blu-Ray con quemador de DVD. Multimedia sin límites.</li>
                    <li>• Sistema especializado de refrigeración líquida para sostener un desempeño extremo en las más largas sesiones de trabajo.</li>
                  </ul>
                </div> -->
                <div id="pane2" class="tab-pane active pane-tablet">
                  <table>
                    <tr>

                      <td>PUNTAJE 3D MARK</td>
                      <td>7333 - Fire Strike</td>
                    </tr>
                    <tr>
                      <td>PROCESADOR</td>
                      <td> Intel Core i7 4770k 4 Núcleos/8 Hilos 3.5 GHz/3.9 GHz Turbo Boost</td>
                    </tr>
                    <tr>
                      <td>SO:</td>
                      <td>Windows 8.1 - 64bit Windows </td>
                    </tr>
                    <tr>
                      <td>CHASSIS</td>
                      <td> Bitfenix Prodigy</td>
                    </tr>
                    <tr>
                      <td>CHIPSET</td>
                      <td>Z87</td>
                    </tr>                     
                    <tr>
                      <td>MEMORIA RAM</td>
                      <td>16GB Doble Canal - 1600 MHz DDR3</td>
                    </tr>
                    <tr>
                      <td>VGA/GPU</td>
                      <td>Nvidia GeForce GTX 770 2GB GDDR5 con Overclock de fabrica</td>
                    </tr>
                    <tr>
                      <td>REFRIGERACIÓN</td>
                      <td>CPU: Refrigeracion Liquida</td>
                    </tr>
                    <tr>
                      <td>ALMACENAMIENTO</td>
                      <td>2 TB - 5400rpm<br> 120 GB - Boot SSD</td>
                    </tr>
                    <tr>
                      <td>UNIDAD ÓPTICA</td>
                      <td>Quemador de DVD 24x Doble Capa</td>
                    </tr>
                    <tr>
                      <td>REDES</td>
                      <td>Wi-Fi Integrado 802.11 b/g/n/ac <br> Bluetooth 4.0 <br> LAN (10/100/1000 Mbits/seg.)</td>
                    </tr>
                    <tr>
                      <td>INTERFAZ</td>
                      <td>P/D</td>
                    </tr>
                    <tr>
                      <td>DIMENSIONES</td>
                      <td>40.4cm(Alto) x 25cm (Ancho) x 35.9cm (Largo)</td>
                    </tr>                                       
                    <tr>
                      <td>GARANTIA</td>
                      <td>1 Año de garantia por partes defectuosas <br> Soporte tecnico Online</td>

                    </tr>
                  </table>
                </div>
                <div id="pane3" class="tab-pane pane-tablet">

                  <h4>Programas Nvidia</h4>
                  <ul>
                    <li>Drivers: <a href="http://www.geforce.com/drivers" target="_blank" style="color:#fe9c39;"><strong>http://www.geforce.com/drivers</strong></a></li>
                    <li>Geforce Experience: <a href="http://www.geforce.com/geforce-experience" target="_blank" style="color:#fe9c39;"><strong>http://www.geforce.com/geforce-experience</strong></a></li>
                    <li>Steam: <a href="http://store.steampowered.com/about/" target="_blank" style="color:#fe9c39;"><strong>http://store.steampowered.com/about/</strong></a></li>
                    <li>Utilidades: <a href="http://ninite.com/" target="_blank" style="color:#fe9c39;">http://ninite.com/</a></li>
                    <li>3DMark: <a href="http://www.futuremark.com/benchmarks/3dmark#windows" target="_blank" style="color:#fe9c39;"><strong>http://www.futuremark.com/benchmarks/3dmark#windows</strong></a></li>
                  </ul>

                  <table>
                    <!--<tr>
                      <td>PUNTAJE 3D MARK</td>
                      <td>P/D</td>
                    </tr>-->
                    <tr>
                      <td>GPU:</td>
                      <td> <a href="http://www.geforce.com/drivers ">Nvidia GeForce</a></td>
                    </tr>
                    <tr>
                      <td>REFRIGERACIÓN:</td>
                      <td><a href="http://www.corsair.com/us/hydro-series-h80i-high-performance-liquid-cpu-cooler.html">Hydro Series™</a></td>
                    </tr>
                  </table>


                </div>
              </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
            <button class="btn btn-warning pull-right">
              <%= link_to '¿Dónde comprar?', comprar_path, class:'btn-comprar' %>
            </button>
            <%= render 'social' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'zoom' %>