<div class="container">
  <div class="row">
    <div class="span12 products">
      <div class="span4 pull-left text-center">
        <%=	 image_tag 'elemento.jpg', alt: 'ELEMENTO' %>
      </div>
      <div class="span7 elemento-l pull-right">
        <h1>ELEMENTO</h1>
        <p>Do not worry about which game you worked or not, just install, play and win; Rolem Volcano is equipped with graphics technology AMD Dual Graphics which generate thrust and performance needed to play to the end, with the power of two cards AMD Radeon™.</p>
        <div class="mas-info pull-right">
          <%= link_to 'MORE INFORMATION',  productos_elemento_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12 products">
      <div class="span4 volcano-r pull-right text-center">
        <%=	 image_tag 'volcano.jpg', alt: 'VOLCANO', class: 'pc' %>
      </div>
      <div class="span7 volcano-l pull-left">
        <h1>VOLCANO</h1>
        <p>Do not worry about which game you worked or not, just install, play and win; Rolem Volcano is equipped with graphics technology AMD Dual Graphics which generate thrust and performance needed to play to the end, with the power of two cards AMD Radeon™.</p>
        <div class="mas-info pull-right">
          <%= link_to 'MORE INFORMATION',  productos_volcano_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12 products">
      <div class="span7 force-r pull-right">
        <h1>FORCE</h1>
        <p>Do not worry about which game you worked or not, just install, play and win; Rolem Volcano is equipped with graphics technology AMD Dual Graphics which generate thrust and performance needed to play to the end, with the power of two cards AMD Radeon™.</p>
        <div class="mas-info pull-right">
          <%= link_to 'MORE INFORMATION',  productos_force_path %>
        </div>
      </div>
      <div class="span4 force-l pull-left text-center">
        <%=	 image_tag 'force.jpg', alt: 'FORCE' %>
      </div>
      <div class="span1"></div>
    </div>
  </div>

  <div class="row">
    <div class="span12 products">
      <div class="span8 prodigy-l pull-left">
        <h1>PRODIGY</h1>
        <p>Do not worry about which game you worked or not, just install, play and win; Rolem Volcano is equipped with graphics technology AMD Dual Graphics which generate thrust and performance needed to play to the end, with the power of two cards AMD Radeon™.</p>
        <div class="mas-info pull-right">
          <%= link_to 'MORE INFORMATION',  productos_prodigy_path %>
        </div>
      </div>
      <div class="span3 prodigy-r pull-right text-center">
        <%=	 image_tag 'prodigy.jpg', alt: 'PRODIGY' %>
      </div>
      <div class="span1"></div>
    </div>
  </div>

  <div class="row">
    <div class="span12 products">
      <div class="span4 pull-left text-center">
        <%=	 image_tag 'optimus.jpg', alt: 'OPTIMUS' %>
      </div>
      <div class="span7 optimus-r pull-right">
        <h1>OPTIMUS</h1>
        <p>Do not worry about which game you worked or not, just install, play and win; Rolem Volcano is equipped with graphics technology AMD Dual Graphics which generate thrust and performance needed to play to the end, with the power of two cards AMD Radeon™.</p>
        <div class="mas-info pull-right">
          <%= link_to 'MORE INFORMATION',  productos_optimus_path %>
        </div>
      </div>
    </div>
  </div>

</div>