

<div class="productos container" >


  <%= link_to productos_elemento_path do %>  
    <div class="bloquep">
      <ul class="derecha">
      </ul>  
      <ul class="nav nav-tabs no-border">
        <li>     
          <%=  image_tag 'Elemento/main.jpg', alt: 'Elemento' %>
        </li>
        <h1>Rolem Elemento</h1>
      </ul>
    </div>
  <% end -%>

  <%= link_to productos_elementoM_path do %>
    <div class="bloquep">
      <ul class="nav nav-tabs no-border">
        <li class="derecha">
          <%=  image_tag 'Elemento/main.jpg', alt: 'Elemento Maximum Edition' %>
        </li>
        <h1>Rolem Elemento</h1>
        <h3>Maximun Edition</h3>
      </ul>  
    </div>
  <% end -%>

  <%= link_to productos_volcanoA_path do %>
    <div class="bloquep">
      <ul class="nav nav-tabs no-border">
        <li class="derecha">
          <%=  image_tag 'Volcano/main.jpg', alt: 'VolcanoA' %>
        </li>
        <h1 style="margin-left:20px;">Rolem Volcano <strong>A</strong></h1>
      </ul> 
    </div>
  <% end -%>

  <%= link_to productos_volcanoIN_path do %>
    <div class="bloquep">
      <ul class="nav nav-tabs no-border">
        <li>        
          <%=  image_tag 'Volcano/main.jpg', alt: 'VolcanoIN' %>
        </li>
        <h1>Rolem Volcano <strong>IN</strong> </h1>
      </ul> 
    </div>
  <% end -%>

  <%= link_to productos_force_path do %>
    <div class="bloqueg">
      <ul class="nav nav-tabs no-border">
        <li>
          <%=  image_tag 'Force/main.jpg', alt: 'Force' %>
        </li>
        <h1 style="margin-left:300px;">Rolem Force</h1>
      </ul> 
    </div>
  <% end -%>

  <%= link_to productos_raven_path do %>
    <div class="bloqueg">
      <ul class="nav nav-tabs no-border">
        <li class="derecha">
          <%=  image_tag 'Raven/main.jpg', alt: 'Raven' %>
        </li>
        <h1 style="margin-left:700px;"> Rolem Raven</h1>
      </ul>
    </div>
  <% end -%>

  <%= link_to productos_prodigy_path do %>
    <div class="bloqueg">
      <ul class="nav nav-tabs no-border">
        <li>
          <%=  image_tag 'Prodigy/main.png', alt: 'Prodigy' %>
        </li>
        <h1 style="margin-left:300px;">Rolem Prodigy</h1>
      </ul>
    </div>  
  <% end -%>

</div>