<div class="container">
  <!--<div class="row">
    <div class="span12 products">
      <div class="span4 pull-left text-center">
        <%=	 image_tag 'elemento.jpg', alt: 'ELEMENTO' %>
      </div>
      <div class="span7 elemento-l pull-right">
        <h1>ELEMENTO</h1>
        <p>No te preocupes por cual juego te funcionara o no, simplemente instala, juega y gana; Rolem Volcano está equipado con la tecnología gráfica Dual Graphics de AMD  la cual generara el empuje y el rendimiento necesarios para jugar al extremo, con la potencia de dos tarjetas AMD Radeon ™.</p>
        <div class="mas-info pull-right">
          <%= link_to 'MÁS INFORMACIÓN',  productos_elemento_path %>
        </div>
      </div>
    </div>
  </div>-->

  <div class="row">
    <div class="span12 products">
      <div class="span4 volcano-r pull-right text-center">
        <%=	 image_tag 'volcano5.jpg', alt: 'VOLCANO', class: 'pc' %>
      </div>
      <div class="span7 volcano-l pull-left">
        <h1>VOLCANO</h1>
        <p>No te preocupes por cual juego te funcionara o no, simplemente instala, juega y gana; Rolem Volcano está equipado con la targeta gráfica AMD HD 7850 la cual generara el empuje y el rendimiento necesarios para jugar al extremo.</p>
        <div class="mas-info pull-right">
            <%= link_to 'MÁS INFORMACIÓN',  productos_volcano_path %>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="row">
    <div class="span12 products">
      <div class="span7 force-r pull-right">
        <h1>FORCE</h1>
        <p>No te preocupes por cual juego te funcionara o no, simplemente instala, juega y gana; Rolem Volcano está equipado con la tecnología gráfica Dual Graphics de AMD  la cual generara el empuje y el rendimiento necesarios para jugar al extremo, con la potencia de dos tarjetas AMD Radeon ™.</p>
        <div class="mas-info pull-right">
          <%= link_to 'MÁS INFORMACIÓN',  productos_force_path %>
        </div>
      </div>
      <div class="span4 force-l pull-left text-center">
        <%=	 image_tag 'force.jpg', alt: 'FORCE' %>
      </div>
      <div class="span1"></div>
    </div>
  </div>-->

  <div class="row">
    <div class="span12 products">
      <div class="span8 prodigy-l pull-left">
        <h1>PRODIGY</h1>
        <p>El PC de tus sueños hecho realidad. Las mejores partes y nuestros mejores esfuerzos combinados en una muestra definitiva de excelencia en diseño y calidad.</p>
        <div class="mas-info pull-right">
          <%= link_to 'MÁS INFORMACIÓN',  productos_prodigy_path %>
        </div>
      </div>
      <div class="span3 prodigy-r pull-right text-center">
        <%=	 image_tag 'prodigy.jpg', alt: 'PRODIGY' %>
      </div>
      <div class="span1"></div>
    </div>
  </div>

  <!--<div class="row">
    <div class="span12 products">
      <div class="span4 pull-left text-center">
        <%=	 image_tag 'optimus.jpg', alt: 'OPTIMUS' %>
      </div>
      <div class="span7 optimus-r pull-right">
        <h1>OPTIMUS</h1>
        <p>No te preocupes por cual juego te funcionara o no, simplemente instala, juega y gana; Rolem Volcano está equipado con la tecnología gráfica Dual Graphics de AMD  la cual generara el empuje y el rendimiento necesarios para jugar al extremo, con la potencia de dos tarjetas AMD Radeon ™.</p>
        <div class="mas-info pull-right">
          <%= link_to 'MÁS INFORMACIÓN',  productos_optimus_path %>
        </div>
      </div>
    </div>-->
  </div>

</div>