

<div class="productos container" >

  <div class="bloquep">
    <ul class="derecha">
    </ul>  
    <ul class="nav nav-tabs no-border">
      <li>
        <%= link_to 'Elemento',productos_elemento_path %>
        <%=  image_tag 'Elemento/main.jpg', alt: 'Elemento' %>
      </li>
    </ul>
  </div>

  <div class="bloquep">
    <ul class="nav nav-tabs no-border">
      <li class="derecha">
        <%= link_to 'Elemento Maximum Edition',productos_elementoM_path %>
        <%=  image_tag 'Elemento/main.jpg', alt: 'Elemento Maximum Edition' %>
      </li>
    </ul>  
  </div>
    
  <div class="bloquep">
    <ul class="nav nav-tabs no-border">
      <li class="derecha">
        <%= link_to 'Volcano A',productos_volcanoA_path %>
        <%=  image_tag 'Volcano/main.jpg', alt: 'VolcanoA' %>
      </li>
    </ul> 
  </div>

  <div class="bloquep">
    <ul class="nav nav-tabs no-border">
      <li>
        <%= link_to 'Volcano IN',productos_volcanoIN_path %>
        <%=  image_tag 'Volcano/main.jpg', alt: 'VolcanoIN' %>
      </li>
    </ul> 
  </div>

  <div class="bloqueg">
    <ul class="nav nav-tabs no-border">
      <li>
        <%= link_to 'Force',productos_force_path %>
        <%=  image_tag 'Force/main.jpg', alt: 'Force' %>
      </li>
    </ul> 
  </div>

  <div class="bloqueg">
    <ul class="nav nav-tabs no-border">
      <li class="derecha">
        <%= link_to 'Raven',productos_raven_path %>
        <%=  image_tag 'Raven/main.jpg', alt: 'Raven' %>
      </li>
    </ul>
  </div>

  <div class="bloqueg">
    <ul class="nav nav-tabs no-border">
      <li>
        <%= link_to 'Prodigy',productos_prodigy_path %>
        <%=  image_tag 'Prodigy/main.png', alt: 'Prodigy' %>
      </li>
    </ul>
  </div>  
</div>