<div class="container">
  <div class="row">
    <div class="span12 white-bg" style="height:auto; padding-bottom:50px;">
      <div class="row">
        <div class="span6">
          <div class="row text-center">
            <div class="span6 pc-title">
              <h2>ROLEM PRODIGY</h2>
            </div>
            <br>
            <br>
          </div>
          <div class="row-center">
            <div class=" span6">
              <a href="<%= image_path 'prodigy1.jpg' %>" class="zoomableImage" rel="gal1" title="Prodigy">
                <%=	image_tag 'prodigy1.jpg', alt: 'Prodigy', class:'pc-height', title: 'Prodigy' %>
              </a>
            </div>
          </div>
          <div class="row ">
            <div class="span6">
              <div class="row">
                <div class="offset1 span1">
                  <a class="zoomThumbActive" href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('prodigy1.jpg') %>', largeimage:'<%= image_path('prodigy1.jpg') %>'}">
                    <%=	image_tag 'prodigy1.jpg', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('prodigy2.jpg') %>', largeimage:'<%= image_path('prodigy2.jpg') %>'}">
                    <%=	image_tag 'prodigy2.jpg', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('prodigy3.jpg') %>', largeimage:'<%= image_path('prodigy3.jpg') %>'}">
                    <%=	image_tag 'prodigy3.jpg', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('prodigy4.jpg') %>', largeimage:'<%= image_path('prodigy4.jpg') %>'}">
                    <%=	image_tag 'prodigy4.jpg', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('prodigy5.jpg') %>', largeimage:'<%= image_path('prodigy5.jpg') %>'}">
                    <%= image_tag 'prodigy5.jpg', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="offset2  span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('prodigy6.png') %>', largeimage:'<%= image_path('prodigy6.png') %>'}">
                    <%= image_tag 'prodigy6.png', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('prodigy7.png') %>', largeimage:'<%= image_path('prodigy7.png') %>'}">
                    <%= image_tag 'prodigy7.png', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="tabs-margin">
            <div class="tabbable tabs-title">
              <ul class="nav nav-tabs no-border">
                <li class="active border-tabs"><a href="#pane1" data-toggle="tab">DESCRIPCIÓN</a></li>
                <li><a href="#pane2" data-toggle="tab">ESPECIFICACIONES</a></li>
                <li><a href="#pane3" data-toggle="tab">DESCARGAS</a></li>
              </ul>
              <div class="tab-content tabs-bg">
                <div id="pane1" class="tab-pane active pane-tablet">
                  <ul>
                    <li>• Disco Duro de alta capacidad más Solid-State Drive dedicado para tiempos de respuesta instantáneos.</li>
                    <li>• Chasis con todas las características y expandibilidad que necesitas, en el espacio más compacto posible.</li>
                    <li>• Alta conectividad por medio de Wi-Fi, Bluetooth 4.0 y USB 3.0.</li>
                    <li>• Reproductor de Blu-Ray con quemador de DVD. Multimedia sin límites.</li>
                    <li>• Sistema especializado de refrigeración líquida para sostener un desempeño extremo en las más largas sesiones de trabajo.</li>
                  </ul>
                  <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>-->
                </div>
                <div id="pane2" class="tab-pane pane-tablet">
                  <table>
                    <<tr>
                      <td>PUNTAJE 3D MARK</td>
                      <td>7333</td>
                    </tr>
                    <tr>
                      <td>PROCESADOR:</td>
                      <td> Intel Core i7 4770k Cuarta Generación 4 Núcleos / 8 Hilos, 3.5 GHz / 3.9 GHz Turbo Boost 2.0.</td>
                    </tr>
                    <tr>
                      <td>SO:</td>
                      <td>Windows 8 - 64bit</td>
                    </tr>
                    <tr>
                      <td>CHASSIS:</td>
                      <td>Fractal Design Node 304.</td>
                    </tr>
                    <tr>
                      <td>MEMORIA RAM</td>
                      <td>16 GB Doble Canal - 1600 MHz DDR3.</td>
                    </tr>
                    <tr>
                      <td>VGA/GPU</td>
                      <td>Nvidia GeForce GTX 770.</td>
                    </tr>
                    <tr>
                      <td>REFRIGERACIÓN</td>
                      <td>Hydro Series™ H80i High Performance Liquid CPU Cooler.</td>
                    </tr>
                    <tr>
                      <td>ALMACENAMIENTO</td>
                      <td>
                        2 TB – 7200rpm + 64 GB SSD.
                      </td>
                    </tr>
                    <tr>
                      <td>UNIDAD ÓPTICA</td>
                      <td>Quemador de DVD 24x Doble Capa con tecnologia E-GREEN</td>
                    </tr>
                  </table>
                </div>
                <div id="pane3" class="tab-pane pane-tablet">
                  <h4>Controladores: </h4>
                  <table>
                    <!--<tr>
                      <td>PUNTAJE 3D MARK</td>
                      <td>P/D</td>
                    </tr>-->
                    <tr>
                      <td>GPU:</td>
                      <td> <a href="http://www.geforce.com/drivers ">Nvidia GeForce</a></td>
                    </tr>
                    <tr>
                      <td>REFRIGERACIÓN:</td>
                      <td><a href="http://www.corsair.com/us/hydro-series-h80i-high-performance-liquid-cpu-cooler.html">Hydro Series™</a></td>
                    </tr>
                  </table>


                </div>
              </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
            <button class="btn btn-warning pull-right">
              <%= link_to '¿Dónde comprar?', comprar_path, class:'btn-comprar' %>
            </button>
            <%= render 'social' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'zoom' %>