<div class="container">
  <div class="row">

    <div class="span12 white-bg" style="height:auto; margin-bottom:50px;">

      <div class="row">
        <div class="span6">
          <div class="row text-center">
            <div class="span6 pc-title">
              <h2>ROLEM RAVEN</h2>
            </div>
          </div>
          <br /><br />
          <div class="row-center">

            <div class=" span6" style="margin-left:200px;">
              <a href="<%= image_path 'Raven/1.jpg' %>" class="zoomableImage" rel="gal1" title="Raven">
                <%= image_tag 'Raven/1.jpg', alt: 'Raven', class:'pc-height', title: 'Raven' %>

              </a>
            </div>
          </div>
          <div class="row ">
            <div class="span6">
              <div class="row">

                <div class="span6">
                <div class="offset1 span1">
                  <a class="zoomThumbActive" href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Raven/1.jpg') %>', largeimage:'<%= image_path('Raven/1.jpg') %>'}">
                    <%= image_tag 'Raven/1.jpg', alt: 'Raven', class:'thumbnail'  %>

                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Raven/2.png') %>', largeimage:'<%= image_path('Raven/2.png') %>'}">
                    <%= image_tag 'Raven/2.png', alt: 'Raven', class:'thumbnail'  %>

                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Raven/3.png') %>', largeimage:'<%= image_path('Raven/3.png') %>'}">
                    <%= image_tag 'Raven/3.png', alt: 'Raven', class:'thumbnail'  %>
                  </a>
                </div>

                
                </div>
                
                <div class="span6" style="margin-top: 10px;">
                <div class="offset1 span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Raven/4.jpg') %>', largeimage:'<%= image_path('Raven/4.jpg') %>'}">
                    <%= image_tag 'Raven/4.jpg', alt: 'Raven', class:'thumbnail'  %>
                  </a>
                </div>                
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Raven/5.png') %>', largeimage:'<%= image_path('Raven/5.png') %>'}">
                    <%= image_tag 'Raven/5.png', alt: 'Raven', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Raven/6.jpeg') %>', largeimage:'<%= image_path('Raven/6.jpeg') %>'}">
                    <%= image_tag 'Raven/6.jpeg', alt: 'Raven', class:'thumbnail'  %>
                  </a>
                </div>
                
                </div>


              </div>
              <div class="span6" style="margin-top: 10px;"><br><strong class="precio">Precio con Windows:   $2.760.000 </strong>  (IVA incluido)<br>
                                     <strong class="precio">Precio sin OS:   $2.580.000 </strong>  (IVA incluido)</div>
              
              <br>
              <br>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="tabs-margin">
            <div class="tabbable tabs-title">
              <ul class="nav nav-tabs no-border">
                <!-- <li ><a href="#pane1" data-toggle="tab">DESCRIPCIÓN</a></li> -->
                <li class="active border-tabs"><a href="#pane2" data-toggle="tab">ESPECIFICACIONES</a></li>
                <li><a href="#pane3" data-toggle="tab">DESCARGAS</a></li>
              </ul>
              <div class="tab-content tabs-bg">
<!--                 <div id="pane1" class="tab-pane active pane-tablet">
                  <ul>
                    <li>• Disco Duro de alta capacidad más Solid-State Drive dedicado para tiempos de respuesta instantáneos.</li>
                    <li>• Chasis con todas las características y expandibilidad que necesitas, en el espacio más compacto posible.</li>
                    <li>• Alta conectividad por medio de Wi-Fi, Bluetooth 4.0 y USB 3.0.</li>
                    <li>• Reproductor de Blu-Ray con quemador de DVD. Multimedia sin límites.</li>
                    <li>• Sistema especializado de refrigeración líquida para sostener un desempeño extremo en las más largas sesiones de trabajo.</li>
                  </ul>
                </div> -->
                <div id="pane2" class="tab-pane active pane-tablet">
                  <table>
                    <tr>
                      <td>PUNTAJE 3D MAR</td>
                      <td>5649 - Fire Strike</td>
                    </tr>
                    <tr>
                      <td>GPU</td>
                      <td>AMD Radeon R9 280X 3GB GDDR5 PCIe 3.0</td>
                    </tr>
                    <tr>
                      <td>CPU</td>
                      <td>AMD 760K Quad-Core 3.8 GHz/4.1 GHz Turbo Core</td>
                    </tr>
                    <tr>
                      <td>RAM</td>
                      <td>8 GB Doble Canal - 2133 MHz DDR3 R9 Gamer Series</td>
                    </tr>
                    <tr>
                      <td>ALMACENAMIENTO</td>
                      <td>1 TD - 5400rpm Solid State Hybrid Drive <br>
                          120 GB  - Boot Solid State Drive</td>
                    </tr>
                    <tr>
                      <td>UNIDAD OPTICA</td>
                      <td>Quemador de DVD 8x</td>
                    </tr>
                    <tr>
                      <td>CHIPSET</td>
                      <td>A88X</td>
                    </tr>
                    <tr>
                      <td>REDES</td>
                      <td>Wi-Fi Integrado 802.11 b/g/n/ac <br>
                          Bluetooth 4.0 <br>
                          LAN (10/100/1000 Mbits/seg.)</td>
                    </tr>
                    <tr>
                      <td>CHASSIS</td>
                      <td>Silverstone Raven RVZ01</td>
                    </tr>
                    <tr>
                      <td>DIMENSIONES </td>
                      <td>10,5cm (Alto) x 38,2cm (Ancho) x 35cm (Largo)</td>
                    </tr>
                    <tr>
                      <td>REFRIGERACIÓN ADICIONAL</td>
                      <td>Sistema de plaquetas de aluminio</td>
                    </tr>
                    <tr>
                      <td>SISTEMA OPERATIVO</td>
                      <td>Windows 8.1 - 64bit / 7 - 64bit / NA</td>
                    </tr>
                    <tr>
                      <td>GARANTIA</td>
                      <td>1 Año de garantia por partes defectuosas <br>
                          Soporte tecnico Online</td>
                    </tr>
                  </table>
                </div>
                <div id="pane3" class="tab-pane pane-tablet">

                  <h4>Programas</h4>
                  <ul>
                    <li>Drivers: <a href="http://support.amd.com/en-us/download/auto-detect-tool"target="_blank"style="color:#fe9c39;"><strong>http://support.amd.com/en-us/download/auto-detect-tool</strong></a></li>
                    <li>Raptr: <a href="http://raptr.com/amd" target="_blank"style="color:#fe9c39;"><strong>http://raptr.com/amd</strong></a></li>
                    <li>Steam: <a href="http://store.steampowered.com/about/"target="_blank"style="color:#fe9c39;"><strong>http://store.steampowered.com/about/</strong></a></li>
                    <li>Utilidades: <a href="http://ninite.com/"target="_blank"style="color:#fe9c39;"><strong>http://ninite.com/</strong></a></li>
                    <li>3DMark: <a href="http://www.futuremark.com/benchmarks/3dmark#windows"target="_blank"style="color:#fe9c39;"><strong>http://www.futuremark.com/benchmarks/3dmark#windows</strong></a></li>
                  </ul>


                </div>
              </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
             <div>
             	<br />
               <%= link_to como_comprar_path, class:'btn btn-warning pull-right', :style => 'width:300px; height:25px; font-size:2em;  ' do %>
             	<span> ¿Cómo comprar?</span>
             <%end%>
             </div>
            <%= render 'social' %>
            <br>	
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'zoom' %>