
<div class="productos" >

  <div class="bloqueg">
    <div class="right">
      <%= link_to productos_Tradicional_Ignition_25_path do %>
        <div class="btn1">Lvl 25</div>
      <% end -%>
      <%= link_to productos_Tradicional_Ignition_30_path do %>
        <div class="btn2">Lvl 30</div>
      <% end -%>
      <%= link_to productos_Tradicional_Ignition_40_path do %>
        <div class="btn3">Lvl 40</div>
      <% end -%>
      <%= link_to productos_Tradicional_Ignition_50_path do %>
        <div class="btn4">Lvl 50</div>  
      <% end -%>

    </div>
    <div class="nav nav-tabs no-border">
      <li><%=  image_tag 'T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-side-view.jpg', alt: 'Rolem Force Cooler master elite 130 front angle view', :style=>"margin-top:20px; margin-left:20px;"%></li>
     	<h1>Rolem Ignition</h1> 
      <div class="row logos" style="margin-top:30px; margin-left:40%;">

          <%=  image_tag 'portada/Tradicional/52899B_AMD_FX_E_RGB.png', alt:'52899B AMD FX E RGB' %>
          <%=  image_tag 'portada/Tradicional/52918B_AMD_Rad_E_RGB.png', alt:'52918B AMD Rad E RGB' %>
          <%=  image_tag 'portada/Elemento ME/53427C_AMD_EyeFin_E_RGB.png' , alt: '53427C AMD EyeFin E RGB' %>
          <%=  image_tag 'portada/Elemento ME/53474C_AMD_GCN_ARCH_E_RGB.jpg',alt: '53474C AMD GCN ARCH E RGB'%>          
          <%=  image_tag 'portada/Raven/54220A_AMD_MANTLE_E_RGB.jpg', alt: '54220A AMD MANTLE E RGB' %>
      </div>               
    </div>
  </div>
  
  <div class="bloqueg">     
    <div class="left">
    <%= link_to productos_Tradicional_Vision_10_path do %>
      <div class="btn1">Lvl 10</div>
    <% end -%>
    <%= link_to productos_Tradicional_Vision_25_path do %>
      <div class="btn2">Lvl 25</div>
    <% end -%>
    <%= link_to productos_Tradicional_Vision_35_path do %>
      <div class="btn3">Lvl 35</div>
    <% end -%>
    <%= link_to productos_Tradicional_Vision_40_path do %>
      <div class="btn4">Lvl 40</div>  
    <% end -%>
    </div>
      <h1 style="margin-left:72%;"> Rolem Vision</h1>

    <div class="nav nav-tabs no-border">
      <li class="right">
      <%=  image_tag 'T/Vision/Rolem-Ignition-thermaltake-V3-black-edition-top-angle-view.jpg', alt: 'Rolem Ignition thermaltake V3 black edition top angle view' %></li>
      <div class="logos" style="margin-top:30px; margin-left:22px;">
        <%=  image_tag 'Partners/Intel.png' ,alt: 'ci5 h rgb cl 128' %>
        <%=  image_tag 'Partners/nVIDIA_Logo.png', alt: 'NV GF GTX alternate badge FOR WEB ONLY'%>
        <%=  image_tag 'portada/Volcano IN/NV_GPU_Boost.jpg'  ,alt: 'NV GPU Boost'%>
        <%=  image_tag 'portada/Volcano IN/PhysXbyNV_Black.jpg',:style=>"height:40px;" , alt: 'PhysXbyNV Black'%>
        <%=  image_tag 'portada/Volcano IN/NV_Adaptive_VSync.jpg' , alt: 'NV Adaptive VSync' %>
      </div>  
    </div>
  </div>


  <div class="bloqueg" style="padding-bottom:20px;">

    <%= link_to productos_Tradicional_Pentakill_Blue_Team_path do %>
      <div class="btnintel left" >Blue Team</div>
    <% end -%>
    <div class="logos left" style="margin-top:120px; margin-left:-120px;">
      <%=  image_tag 'portada/Tradicional/pp_a_rgb_46.png' ,alt: 'pp a rgb 46',:style=>"height:50px;" %>
      <%=  image_tag 'Partners/nVIDIA_Logo.png', alt: 'NV GF GTX alternate badge FOR WEB ONLY' %>
    </div>
    <%= link_to productos_Tradicional_Pentakill_Red_Team_path do %>
    <div class="btnamd right" style="margin-right:40px;">Red Team</div> 
    <% end -%>
    <div class="logos right" style="margin-top:120px; margin-right:-90px;">

        <%=  image_tag 'portada/Tradicional/53054B_AMD_A4elite_E_RGB.png', alt:'53054B AMD A4elite E RGB' %>
        <%=  image_tag 'portada/Elemento/53877A_AMD_Rad_R7_E_RGB.png', alt:'53877A AMD Rad R7 E RGB' %>
      
    </div>
    
    <h1 style="margin-left:38%;">Rolem Pentakill</h1>
    <%=  image_tag 'T/Pentakill/rolem-tradicionales-pentakill-vents-view.jpg', alt: 'rolem tradicionales pentakill vents view' , :class=>"center" %>    
 
  </div>
  


  

</div> 