<div class="container">
  <div class="row">
    <div class="span12 white-bg" style='height:auto;margin-bottom:50px;'>
      <div class="row">
        <div class="span6">
          <div class="row text-center">
            <div class="span6 pc-title">
              <h2>ROLEM VOLCANO IN</h2>              
            </div>
          </div>
          <br /><br>
          <div class="row text-center">
            <div class="span6"  style="margin-left:150px;">
              <a href="<%= image_path 'SFF/Volcano/Rolem-Volcano-cooler-master-elite-110-front-view.jpg' %>" class="zoomableImage" rel="gal1" title="Volcano">
                <%=	image_tag 'SFF/Volcano/Rolem-Volcano-cooler-master-elite-110-front-view.jpg', alt: 'Rolem Volcano cooler master elite 110 front view', class:'pc-height', title: 'Volcano' %>
              </a>
            </div>
          </div>
          <div class="row ">
            <div class="span6">
              <div class="row">
                <div class="offset1 span1">
                  <a class="zoomThumbActive" href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('SFF/Volcano/Rolem-Volcano-cooler-master-elite-110-front-view.jpg') %>', largeimage:'<%= image_path('SFF/Volcano/Rolem-Volcano-cooler-master-elite-110-front-view.jpg') %>'}">
                    <%=	image_tag 'SFF/Volcano/Rolem-Volcano-cooler-master-elite-110-front-view.jpg', alt: 'Rolem Volcano cooler master elite 110 front view', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('SFF/Volcano/Rolem-Volcano-cooler-master-elite-110-side-view.jpg') %>', largeimage:'<%= image_path('SFF/Volcano/Rolem-Volcano-cooler-master-elite-110-side-view.jpg') %>'}">
                <%=	image_tag 'SFF/Volcano/Rolem-Volcano-cooler-master-elite-110-side-view.jpg', alt: 'Rolem Volcano cooler master elite 110 side view', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('SFF/Volcano/Rolem-Volcano-cooler-master-elite-110-side-angle-view.jpg') %>', largeimage:'<%= image_path('SFF/Volcano/Rolem-Volcano-cooler-master-elite-110-side-angle-view.jpg') %>'}">
                    <%=	image_tag 'SFF/Volcano/Rolem-Volcano-cooler-master-elite-110-side-angle-view.jpg', alt: 'Rolem Volcano cooler master elite 110 angle view', class:'thumbnail'  %>
                  </a>
                </div>
               <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('SFF/Volcano/Rolem-Volcano-cooler-master-elite-110-top-side-ports.jpg') %>', largeimage:'<%= image_path('SFF/Volcano/Rolem-Volcano-cooler-master-elite-110-top-side-ports.jpg') %>'}">
                    <%=	image_tag 'SFF/Volcano/Rolem-Volcano-cooler-master-elite-110-top-side-ports.jpg', alt: 'Rolem Volcano cooler master elite 110 side ports', class:'thumbnail'  %>
                  </a>
                </div>
              </div>             
              <div class="span6"><br><strong class="precio">Precio con Windows:   $2.250.000 </strong>  (IVA incluido)<br>
                                     <strong class="precio">Precio sin OS:   $2.070.000  </strong>  (IVA incluido)</div>              
              <br>
              <br>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="tabs-margin">
            <div class="tabbable tabs-title">
              <ul class="nav nav-tabs no-border">
                <!-- <li><a href="#pane1" data-toggle="tab">DESCRIPCIÓN</a></li> -->
                <li class="active border-tabs"><a href="#pane2" data-toggle="tab">ESPECIFICACIONES</a></li>
                <li><a href="#pane3" data-toggle="tab">DESCARGAS</a></li>
                <li class="offset1"><%= link_to 'Volcano A', productos_Small_volcanoA_path %></li>
              </ul>
            <div class="tab-content tabs-bg">
                <!--  <div id="pane1" class="tab-pane active pane-tablet">
                  <ul>
                    <li>• Disco Duro de alta capacidad más Solid-State Cache Para tiempos de respuesta instantáneos.</li>
                    <li>• Da el salto a la GeForce® GTX 650 TI Boost para disfrutar de los más veloces juegos de pc de última generación a una calidad excepcional.</li>
                    <li>• Alta conectividad por medio de Wi-Fi, Bluetooth 4.0 y USB 3.0.</li>
                  </ul>
                </div> -->
                <div id="pane2" class="tab-pane active pane-tablet">
                  <table>
                    <tr>
                      <td>GPU</td>
                      <td>NVIDIA GeForce GTX 750Ti 2GB GDDR5 PCIe 3.0</td>
                    </tr>
                    <tr>
                      <td>CPU</td>
                      <td>Intel Core i5 4430 Quad-Core 3.0 GHz/3.2 GHz Turbo Boost</td>
                    </tr>
                    <tr>
                      <td>RAM</td>
                      <td>8 GB Doble Canal - 1600 MHz DDR3</td>
                    </tr>
                    <tr>
                      <td>ALMACENAMIENTO</td>
                      <td>1 TB - 5400rpm Solid State Hybrid Drive <br>
                          8 GB  - Solid State Cache</td>
                    </tr>
                    <tr>
                      <td>CHIPSET</td>
                      <td>H87</td>
                    </tr>
                    <tr>
                      <td>REDES</td>
                      <td>Wi-Fi Integrado 802.11 b/g/n/ac <br>
                          Bluetooth 4.0 <br>
                          LAN (10/100/1000 Mbits/seg.)</td>
                    </tr>
                    <tr>
                      <td>CHASSIS</td>
                      <td>Cooler Master Elite 110</td>
                    </tr>
                    <tr>
                      <td>DIMENSIONES </td>
                      <td>20.8cm (Alto) x 26cm (Ancho) x 28cm (Largo)</td>
                    </tr>
                    <tr>
                      <td>SISTEMA OPERATIVO</td>
                      <td>Windows 8.1 - 64bit / 7 - 64bit / NA</td>
                    </tr>
                    <tr>
                      <td>GARANTIA</td>
                      <td>1 Año de garantia por partes defectuosas <br>
                          Soporte tecnico Online</td>
                    </tr>
                  </table>
                </div>
                <div id="pane3" class="tab-pane pane-tablet">
                  <h4>Programas</h4>
                  <ul>
                    <li>Geforce Experience: <a href="http://www.geforce.com/geforce-experience" target="_blank" style="color:#fe9c39;"><strong>http://www.geforce.com/geforce-experience</strong></a></li>
                    <li>Raptr: <a href="http://raptr.com/amd"  target="_blank" style="color:#fe9c39;"><strong>http://raptr.com/amd</strong></a></li>
                    <li>Steam: <a href="http://store.steampowered.com/about/" target="_blank" style="color:#fe9c39;"><strong>http://store.steampowered.com/about/</strong></a></li>
                    <li>Utilidades: <a href="http://ninite.com/" target="_blank" style="color:#fe9c39;"><strong>http://ninite.com/</strong></a></li>
                    <li>3DMark: <a href="http://www.futuremark.com/benchmarks/3dmark#windows" target="_blank" style="color:#fe9c39;"><strong>http://www.futuremark.com/benchmarks/3dmark#windows</strong></a></li>
                  </ul>
                </div>
              </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
             <div>
             	<br>
               <%= link_to como_comprar_path, class:'btn btn-warning pull-right', :style => 'width:300px; height:25px; font-size:2em;  ' do %>
             	<span> ¿Cómo comprar?</span>
             <%end%>
             </div>
            <%= render 'social' %>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'zoom' %>