<div class="container">
  <div class="row">
    <div class="span12 white-bg">
      <div class="row">
        <div class="span6">
          <div class="row text-center">
            <div class="span6 pc-title">
              <h2>ROLEM VOLCANO</h2>
            </div>
          </div>
          <div class="row text-center">
            <div class="span6">
              <%=	image_tag 'volcano.png', alt: 'Volcano', class:'pc-height'  %>
            </div>
          </div>
          <div class="row ">
            <div class="span6">
              <div class="row">
                <div class="offset1 span1">
                  <%=	image_tag 'volcano1.png', alt: 'Volcano', class:'thumbnail'  %>
                </div>
                <div class="span1">
                  <%=	image_tag 'volcano2.png', alt: 'Volcano', class:'thumbnail'  %>
                </div>
                <div class="span1">
                  <%=	image_tag 'volcano3.png', alt: 'Volcano', class:'thumbnail'  %>
                </div>
                <div class="span1">
                  <%=	image_tag 'volcano4.png', alt: 'Volcano', class:'thumbnail'  %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="span6">
          right
        </div>
      </div>
    </div>
  </div>
</div>