<div class="container">
  <div class="row">

    <div class="span12 white-bg" style='height:auto;margin-bottom:50px;'>

      <div class="row">
        <div class="span6">
          <div class="row text-center">
            <div class="span6 pc-title">
              <h2>ROLEM VOLCANO</h2>
            </div>
            <br>
            <br>
          </div>
          <div class="row text-center">
            <div class="span6"  style="margin-left:150px;">

              <a href="<%= image_path 'Volcano/1.jpg' %>" class="zoomableImage" rel="gal1" title="Volcano">
                <%=	image_tag 'Volcano/1.jpg', alt: 'Volcano', class:'pc-height', title: 'Volcano' %>

              </a>
            </div>
          </div>
          <div class="row ">
            <div class="span6">
              <div class="row">
                <div class="offset1 span1">
                  <a class="zoomThumbActive" href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Volcano/1.jpg') %>', largeimage:'<%= image_path('Volcano/1.jpg') %>'}">

                    <%=	image_tag 'Volcano/1.jpg', alt: 'Volcano', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Volcano/2.jpg') %>', largeimage:'<%= image_path('Volcano/2.jpg') %>'}">
                    <%=	image_tag 'Volcano/2.jpg', alt: 'Volcano', class:'thumbnail'  %>

                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Volcano/3.jpg') %>', largeimage:'<%= image_path('Volcano/3.jpg') %>'}">
                    <%=	image_tag 'Volcano/3.jpg', alt: 'Volcano', class:'thumbnail'  %>
                  </a>
                </div>
               <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('Volcano/4.jpg') %>', largeimage:'<%= image_path('Volcano/4.jpg') %>'}">
                    <%=	image_tag 'Volcano/4.jpg', alt: 'Volcano', class:'thumbnail'  %>
                  </a>
                </div>

              </div>
              <br>
              <br><div class="span6"><strong>Precio:  $2.190.000</strong></div>
              
              <br>
              <br>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="tabs-margin">
            <div class="tabbable tabs-title">
              <ul class="nav nav-tabs no-border">
                <!-- <li><a href="#pane1" data-toggle="tab">DESCRIPCIÓN</a></li> -->
                <li class="active border-tabs"><a href="#pane2" data-toggle="tab">ESPECIFICACIONES</a></li>
                <li><a href="#pane3" data-toggle="tab">DESCARGAS</a></li>
              </ul>
            <div class="tab-content tabs-bg">
                <!--  <div id="pane1" class="tab-pane active pane-tablet">
                  <ul>
                    <li>• Disco Duro de alta capacidad más Solid-State Cache Para tiempos de respuesta instantáneos.</li>
                    <li>• Da el salto a la GeForce® GTX 650 TI Boost para disfrutar de los más veloces juegos de pc de última generación a una calidad excepcional.</li>
                    <li>• Alta conectividad por medio de Wi-Fi, Bluetooth 4.0 y USB 3.0.</li>
                  </ul>
                </div> -->
                <div id="pane2" class="tab-pane active pane-tablet">
                  <table>

                    <tr>
                      <td>PUNTAJE 3D MARK</td>
                      <td>P/D</td>
                    </tr>
                    <tr>
                      <td>PROCESADOR</td>
                      <td>Intel Core i5 4430 Quad-Core 3.0 GHz/3.2 GHz Turbo Boost </td>
                    </tr>
                    <tr>
                      <td>SO:</td>
                      <td>Windows 8.1 - 64bit Windows</td>
                    </tr>
                    <tr>
                      <td>CHASSIS</td>
                      <td>Cooler Master Elite 110</td>
                    </tr>
                    <tr>
                      <td>CHIPSET</td>
                      <td>H87</td>
                    </tr>                     
                    <tr>
                      <td>MEMORIA RAM</td>
                      <td>8GB Doble Canal - 1660MHz DDR3</td>
                    </tr>
                    <tr>
                      <td>VGA/GPU</td>
                      <td>AMD Radeon R7 260x 2GB GDDR5 PCIe 3.0</td>
                    </tr>
<!--                     <tr>
                      <td>REFRIGERACIÓN:</td>
                      <td>Frente montado 92mm R2 ventiladores Silent Series hidráulicos rodamientos, 1300 RPM de velocidad (compatible con ventiladores de 80 mm) - incluidos <br>
                        Trasero montado ventilador de 140mm Silent Series R2 hidráulico del cojinete, 1000 RPM de velocidad (compatible con ventiladores de 120mm) - incluidos
                      </td>
                    </tr> -->
                    <tr>
                      <td>ALMACENAMIENTO</td>
                      <td>1 TB -5400rpm <br> 8 GB - SSD Cache </td>
                    </tr>
                    <tr>
                      <td>REDES</td>
                      <td>Wi-Fi Integrado 802.11 b/g/n/ac <br> Bluetooth 4.0 <br> LAN (10/100/1000 Mbits/seg.)</td>
                    </tr>
                    <tr>
                      <td>INTERFAZ</td>
                      <td>P/D</td>
                    </tr>
                    <tr>
                      <td>DIMENSIONES</td>
                      <td>20.8cm (Alto) x 26cm (Ancho) x 28cm (Largo)</td>
                    </tr>   
                    <tr>
                      <td>GARANTIA</td>
                      <td>1 Año de garantia por partes defectuosas <br> Soporte tecnico Online</td>
                    </tr>                                     
                  </table>
                </div>
                <div id="pane3" class="tab-pane pane-tablet">
                  <h4>Programas</h4>
                  <ul>
                    <li>Drivers: <a href="http://support.amd.com/en-us/download/auto-detect-tool" target="_blank" style="color:#fe9c39;"><strong>http://support.amd.com/en-us/download/auto-detect-tool</strong></a></li>
                    <li>Raptr: <a href="http://raptr.com/amd"  target="_blank" style="color:#fe9c39;"><strong>http://raptr.com/amd</strong></a></li>
                    <li>Steam: <a href="http://store.steampowered.com/about/" target="_blank" style="color:#fe9c39;"><strong>http://store.steampowered.com/about/</strong></a></li>
                    <li>Utilidades: <a href="http://ninite.com/" target="_blank" style="color:#fe9c39;"><strong>http://ninite.com/</strong></a></li>
                    <li>3DMark: <a href="http://www.futuremark.com/benchmarks/3dmark#windows" target="_blank" style="color:#fe9c39;"><strong>http://www.futuremark.com/benchmarks/3dmark#windows</strong></a></li>
                  </ul>

                </div>
              </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
            <button class="btn btn-warning pull-right">
              <%= link_to '¿Dónde comprar?', comprar_path, class:'btn-comprar' %>
            </button>
            <%= render 'social' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'zoom' %>