<h1>Listing posters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posters.each do |poster| %>
  <tr>
    <td><%= poster.name %></td>
    <td><%= poster.password %></td>
    <td><%= link_to 'Show', poster %></td>
    <td><%= link_to 'Edit', edit_poster_path(poster) %></td>
    <td><%= link_to 'Destroy', poster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Poster', new_poster_path %>
