<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @poster.name %>
</p>

<p>
  <b>Password:</b>
  <%= @poster.password %>
</p>


<%= link_to 'Edit', edit_poster_path(@poster) %> |
<%= link_to 'Back', posters_path %>
