
<div class="container">
  <div class="row">
    <div class="span12 black-bg" >
      <div class="row">
        <div class="span4">
          <div class="compania-navegacion">
            <ul class="nav nav-tabs nav-stacked no-border">
                <h1>Blogs</h1>
                <% @blogs.each do |blog| %>
               <table style="width:1000px;">
                  <tr>
                    <th style="width:200px;"><h3><%= blog.titulo %></h3></th>
                  </tr>
                  <tr>
                  
                    <td><%= image_tag(blog.imagen)%></td>
                    <td style="width:700px;"><strong><%= blog.autor %></strong> | <%= blog.created_at.to_s(:db) %> <br><%= truncate blog.texto, length: 160 %> <%= link_to 'Leer más. ', blog %> <br> <strong>tags: </strong> <%= blog.tags %> </td>

      
                  </tr>
      
                </table>
                <% end %>
                <BR>
                    <%= link_to 'New Blog', new_blog_path %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />


