
<div class="container">
  <div class="row">
    <div class="span12 black-bg" >

          <div class="compania-navegacion">
            <ul class="nav nav-tabs nav-stacked no-border"> 
                <% @blogs.each do |blog| %>

                  
                    <div class ="span10">
                      <br><br>
                      <h1><%= blog.titulo %> </h1>
                      <table>
                        <tr>
                          <td style="width:100px;"><%= link_to image_tag(blog.imagen) , blog %></td>
                          <td> <%= truncate blog.texto, length: 500 %> <%= link_to 'Leer más. ', blog %>
                          <br><br>
                          Publicado a las <%= blog.created_at.to_s(:db) %> 
                          <br>
                          <strong>tags: </strong> <%= blog.tags %> <div></td>
                        </tr>
                      </table>
                     
                  

                      <hr>
                  
                <% end %>
                <BR>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />


