<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @blog.titulo %>
</p>

<p>
  <b>Autor:</b>
  <%= @blog.autor %>
</p>

<p>
  <b>Texto:</b>
  <%= @blog.texto %>
</p>

<p>
  <b>Imagen:</b>
  <%= @blog.imagen %>
</p>

<p>
  <b>Tags:</b>
  <%= @blog.tags %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
