
<div class="container">
  <div class="row">
    <div class="span12 black-bg" >
      <div class="row">
        <div class="span4">
          <div class="compania-navegacion">
            <ul class="nav nav-tabs nav-stacked no-border">
              <p id="notice"><%= notice %></p>
               <table style="width:1000px;">
                  <tr>
                    <th style="width:300x;"><h3><%= @blog.titulo %></h3></th>
                  </tr>
                  <tr>
                  
                    <td><%= image_tag(@blog.imagen)%></td>
                    <td style="width:700px;"><strong><%= @blog.autor %></strong> | <%= @blog.created_at.to_s(:db) %> <br><%= @blog.texto %> <br> <strong>tags: </strong> <%= @blog.tags %> </td>

      
                  </tr>
      
                </table>
                <%= link_to 'Back', blogs_path %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>