
<div class="container">
    <div class="row show blog">
      <div class="span12 black-bg" style="margin-bottom:50px;">
 
              <div class="compania-navegacion">
                <ul class="nav nav-tabs nav-stacked no-border">
                  <!--formato para post -->

              
            


              <h1><%= @news.title %></h1>
              <strong><% if @news.created_at > Time.now.beginning_of_day %>
                  <%="#{time_ago_in_words(@news.created_at)} atras"%> en Rolem.
              <% else %>
                  <%= @news.created_at.strftime("%b %d, %Y") %> en Rolem. 
              <% end %></strong>
             
                              <!-- AddThis Button BEGIN -->
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style offset6">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51fb38286a5d0186"></script>
<!-- AddThis Button END -->
   <br>
               
               <div class="span9"><%= sanitize(@news.description) %></div> 

<!-- AddThis Button END -->
              

                  
                <br><br><br><br>
                <div class=" span9"> tags: <strong><%= @news.tags %></strong><hr>
              <h4><strong> Acerca de Rolem</strong></h4>
              <p>Rolem es uno de los principales motores para la industria del PC Gaming en Colombia y Latinoamerica. La compañía diseña y ensambla PC Desktops extremadamente compactos y especializados para Gamers. Información adicional sobre Rolem está disponible en   <a href="www.rolem.co/es/compania">compañía</a> y en el <a href="blog.rolem.co">blog</a>.</p>

          <br><hr>
              </div>
              <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=484734861628216&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
              
                   <div class="offset2 fb-comments" data-href="http://rolem.co/comments" data-numposts="5" data-colorscheme="dark"></div>
                   </div>
            

              </ul>
            </div>
        </div>
    </div>
  </div>
</div>