<div class="container">
  <div class="row">

    <div class="span12 white-bg" style="height:auto; margin-bottom:50px;">

      <div class="row">
        <div class="span6">
          <div class="row text-center">
            <div class="span6 pc-title">
              <h2>ROLEM PRODIGY EXTREME</h2>
            </div>
           
          </div>
          <div class="row-center">
		<br /><br>
            <div class=" span6" style="margin-left:150px;">
              <a href="<%= image_path 'SFF/Prodigy/Rolem-Prodigy-Bitfenix-ports-angle-view.png' %>" class="zoomableImage" rel="gal1" title="Prodigy">
                <%=	image_tag 'SFF/Prodigy/Rolem-Prodigy-Bitfenix-ports-angle-view.png', alt: 'Prodigy', class:'pc-height', title: 'Prodigy' %>

              </a>
            </div>
          </div>
          <div class="row ">
            <div class="span6">
              <div class="row">

                <div class="span6">
                <div class="offset1 span1">
                  <a class="zoomThumbActive" href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('SFF/Prodigy/Rolem-Prodigy-Bitfenix-ports-angle-view.png') %>', largeimage:'<%= image_path('SFF/Prodigy/Rolem-Prodigy-Bitfenix-ports-angle-view.png') %>'}">
                    <%= image_tag 'SFF/Prodigy/Rolem-Prodigy-Bitfenix-ports-angle-view.png', alt: 'Prodigy', class:'thumbnail'  %>

                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('SFF/Prodigy/Rolem-Prodigy-Bitfenix-top-vent-angle-view.png') %>', largeimage:'<%= image_path('SFF/Prodigy/Rolem-Prodigy-Bitfenix-top-vent-angle-view.png') %>'}">
                    <%= image_tag 'SFF/Prodigy/Rolem-Prodigy-Bitfenix-top-vent-angle-view.png', alt: 'Prodigy', class:'thumbnail'  %>

                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('SFF/Prodigy/Rolem-Prodigy-Bitfenix-front-view.png') %>', largeimage:'<%= image_path('SFF/Prodigy/Rolem-Prodigy-Bitfenix-front-view.png') %>'}">
                    <%= image_tag 'SFF/Prodigy/Rolem-Prodigy-Bitfenix-front-view.png', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>

                
                </div>
                
                <div class="span6">
                	<br>
                <div class="offset1 span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('SFF/Prodigy/Rolem-Prodigy-Bitfenix-side-ports.png') %>', largeimage:'<%= image_path('SFF/Prodigy/Rolem-Prodigy-Bitfenix-side-ports.png') %>'}">
                    <%= image_tag 'SFF/Prodigy/Rolem-Prodigy-Bitfenix-side-ports.png', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>                
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('SFF/Prodigy/Rolem-Prodigy-Bitfenix-side-vent.png') %>', largeimage:'<%= image_path('SFF/Prodigy/Rolem-Prodigy-Bitfenix-side-vent.png') %>'}">
                    <%= image_tag 'SFF/Prodigy/Rolem-Prodigy-Bitfenix-side-vent.png', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('SFF/Prodigy/Rolem-Prodigy-Bitfenix-top-view.png') %>', largeimage:'<%= image_path('SFF/Prodigy/Rolem-Prodigy-Bitfenix-top-view.png') %>'}">
                    <%= image_tag 'SFF/Prodigy/Rolem-Prodigy-Bitfenix-top-view.png', alt: 'Prodigy', class:'thumbnail'  %>
                  </a>
                </div>
                
                </div>


              </div>
             <div class="span6" style="margin-top: 20px;"><br>
              <strong class="precio">Precio con Windows:    $9.965.000    </strong>  (IVA incluido)<br>
              <strong class="precio">Precio sin OS:     $9.878.000  </strong>  (IVA incluido)</div>
              
              
              <br>
              <br>
            </div>
          </div>
        </div>
        <div class="span6">
          <div class="tabs-margin">
            <div class="tabbable tabs-title">
              <ul class="nav nav-tabs no-border">
                <!-- <li ><a href="#pane1" data-toggle="tab">DESCRIPCIÓN</a></li> -->
                <li class="active border-tabs"><a href="#pane2" data-toggle="tab">ESPECIFICACIONES</a></li>
                <li><a href="#pane3" data-toggle="tab">DESCARGAS</a></li>
                <li class="offset1"><%= link_to 'Prodigy',productos_Small_prodigy_path %></li>
              </ul>
              <div class="tab-content tabs-bg">
<!--                 <div id="pane1" class="tab-pane active pane-tablet">
                  <ul>
                    <li>• Disco Duro de alta capacidad más Solid-State Drive dedicado para tiempos de respuesta instantáneos.</li>
                    <li>• Chasis con todas las características y expandibilidad que necesitas, en el espacio más compacto posible.</li>
                    <li>• Alta conectividad por medio de Wi-Fi, Bluetooth 4.0 y USB 3.0.</li>
                    <li>• Reproductor de Blu-Ray con quemador de DVD. Multimedia sin límites.</li>
                    <li>• Sistema especializado de refrigeración líquida para sostener un desempeño extremo en las más largas sesiones de trabajo.</li>
                  </ul>
                </div> -->
                <div id="pane2" class="tab-pane active pane-tablet">
                  <table>
                    <tr>
                      <td>GPU</td>
                      <td>2x NVIDIA GeForce GTX 980 4GB GDDR5 SLI</td>
                    </tr>
                    <tr>
                      <td>CPU</td>
                      <td>Intel Core i7 5820k Hexa-Core + Hyper Threading 3,3 GHz/3,6 GHz Turbo Boost</td>
                    </tr>
                    <tr>
                      <td>RAM</td>
                      <td>32 GB Dual Channel - 2400 MHz DDR4</td>
                    </tr>
                    <tr>
                      <td>ALMACENAMIENTO</td>
                      <td>4 TB - 7200rpm Seagate Solid State Hybrid Drive<br>
                          256 GB - Samsung 850 Pro SSD</td>
                    </tr>                    
                    <tr>
                      <td>CHIPSET</td>
                      <td>X99</td>
                    </tr>
                    <tr>
                      <td>REDES</td>
                      <td>Wi-Fi Integrado 802.11 b/g/n/ac <br>
                          Bluetooth 4.0 <br>
                          LAN (10/100/1000 Mbits/seg.)</td>
                    </tr>
                    <tr>
                      <td>CHASSIS</td>
                      <td>Bitfenix Prodigy M + Window Side Panel</td>
                    </tr>
                    <tr>
                      <td>DIMENSIONES </td>
                      <td> 40.4cm(Alto) x 25cm (Ancho) x 35.9cm (Largo)</td>
                    </tr>
                    <tr>
                      <td>REFRIGERACIÓN ADICIONAL</td>
                      <td>Corsair Hydro Extreme H80i + Sistema de plaquetas de aluminio</td>
                    </tr>
                    <tr>
                      <td>SISTEMA OPERATIVO</td>
                      <td>Windows 8.1 - 64bit / 7 - 64bit / NA</td>
                    </tr>
                    <tr>
                      <td>GARANTIA</td>
                      <td>1 Año de garantia por partes defectuosas <br>
                          Soporte tecnico Online</td>
                    </tr>
                  </table>
                </div>
                <div id="pane3" class="tab-pane pane-tablet">

                  <h4>Programas</h4>
                  <ul>
                    <li>Drivers: <a href="http://www.geforce.com/drivers" target="_blank" style="color:#fe9c39;"><strong>http://www.geforce.com/drivers</strong></a></li>
                    <li>Geforce Experience: <a href="http://www.geforce.com/geforce-experience" target="_blank" style="color:#fe9c39;"><strong>http://www.geforce.com/geforce-experience</strong></a></li>
                    <li>Steam: <a href="http://store.steampowered.com/about/" target="_blank" style="color:#fe9c39;"><strong>http://store.steampowered.com/about/</strong></a></li>
                    <li>Utilidades: <a href="http://ninite.com/" target="_blank" style="color:#fe9c39;">http://ninite.com/</a></li>
                    <li>3DMark: <a href="http://www.futuremark.com/benchmarks/3dmark#windows" target="_blank" style="color:#fe9c39;"><strong>http://www.futuremark.com/benchmarks/3dmark#windows</strong></a></li>
                  </ul>



                </div>
              </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
               <%= link_to como_comprar_path, class:'btn btn-warning pull-right', :style => 'width:300px; height:25px; font-size:2em;  ' do %>
             	<span> ¿Cómo comprar?</span>
             <%end%>
            <%= render 'social' %>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'zoom' %>