<div class="container">
  <div class="row">

    <div class="span12 white-bg"  style='height:auto;margin-bottom:50px;'>

      <div class="row">


        <div class="span6">


          <div class="row text-center">
            <div class="pc-title">
              <h2>ZBOX AQ01</h2>
            </div>
          </div>

          <div class="row">

            <div class="span6" style="margin-left:170px;">
            	<br /><br>
              <a href="<%= image_path 'SFF/nano/rolem-zotac-zbox-aq01-horizontal-view.jpg' %>" class="zoomableImage" rel="gal1" title="Elemento">
                <%=	image_tag 'SFF/nano/rolem-zotac-zbox-aq01-horizontal-view.jpg', alt: 'rolem zotac zbox aq01 horizontal view', class:'pc-height' %>

              </a>
            </div>
          </div>
          <div class="row ">
            <div class="span6">
              <div class="row">
                <div class="offset1 span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('SFF/nano/rolem-zotac-zbox-aq01-horizontal-view.jpg') %>', largeimage:'<%= image_path('SFF/nano/rolem-zotac-zbox-aq01-horizontal-view.jpg') %>'}">
                    <%= image_tag 'SFF/nano/rolem-zotac-zbox-aq01-horizontal-view.jpg', alt: 'rolem zotac zbox aq01 horizontal view', class:'thumbnail'  %>

                  </a>
                </div>                
                <div class="span1">
                  <a class="zoomThumbActive" href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('SFF/nano/rolem-zotac-zbox-aq01-top.jpg') %>', largeimage:'<%= image_path('SFF/nano/rolem-zotac-zbox-aq01-top.jpg') %>'}">
                    <%=	image_tag 'SFF/nano/rolem-zotac-zbox-aq01-top.jpg', alt: 'rolem zotac zbox aq01 top', class:'thumbnail'  %>

                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path( 'SFF/nano/rolem-zotac-zbox-aq01-back.jpg') %>', largeimage:'<%= image_path('SFF/nano/rolem-zotac-zbox-aq01-back.jpg') %>'}">
                    <%=	image_tag 'SFF/nano/rolem-zotac-zbox-aq01-back.jpg', alt: 'rolem zotac zbox aq01 back', class:'thumbnail'  %>

                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"

                     rel="{gallery: 'gal1', smallimage:'<%= image_path('SFF/nano/rolem-zotac-zbox-aq01-front.jpg') %>', largeimage:'<%= image_path('SFF/nano/rolem-zotac-zbox-aq01-front.jpg') %>'}">
                    <%=	image_tag 'SFF/nano/rolem-zotac-zbox-aq01-front.jpg', alt: 'rolem zotac zbox aq01 front', class:'thumbnail'  %>

                  </a>
                </div>

              </div>
            </div>
          </div>
          
              <br>

                <br><div class="span6" style="margin-top: 20px;"><br><br><br>
                  <strong class="precio">Precio:   $985.000  </strong>  (IVA incluido)
                  <div class="span4"><p><center>Este producto se recomienda especialmente para el uso de "Steam In-Home Streaming", o para Gamers casuales.</center></p></div>
                  <br>
                </div>
              
        </div>



        <div class="span6">
          <div class="tabs-margin">
            <div class="tabbable tabs-title">
              <ul class="nav nav-tabs no-border">
                <!-- <li><a href="#pane1" data-toggle="tab">DESCRIPCIÓN</a></li> -->
                <li class="active border-tabs"><a href="#pane2" data-toggle="tab">ESPECIFICACIONES</a></li>
                <li><a href="#pane3" data-toggle="tab">DESCARGAS</a></li>
                
                
              
              </ul>
              <div class="tab-content tabs-bg">
<!--                 <div id="pane1" class="tab-pane active pane-tablet">
                  <ul>
                    <li>• Disco Duro de alta capacidad más Solid-State Cache Para tiempos de respuesta instantáneos.</li>
                    <li>• Da el salto a la GeForce® GTX 650 TI Boost para disfrutar de los más veloces juegos de pc de última generación a una calidad excepcional.</li>
                    <li>• Chasis con tan solo 24 cm de altura.</li>
                    <li>• Alta conectividad por medio de Wi-Fi y USB 3.0.</li>
                    <li>• Reproductor de DVD con quemador. Multimedia sin límites.</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div> -->
                
                <div id="pane2" class="tab-pane active pane-tablet">
                  <table>
                    <tr>
                      <td>GPU</td>
                      <td>AMD Radeon HD 8330</td>
                    </tr>
                    <tr>
                      <td>CPU</td>
                      <td>AMD A4-5000 Quad-Core 1.5 GHz</td>
                    </tr>
                    <tr>
                      <td>RAM</td>
                      <td>4 GB DDR3 - 1600 MHz</td>
                    </tr>
                    <tr>
                      <td>ALMACENAMIENTO</td>
                      <td>64 GB - Solid State Drive</td>
                    </tr>
                    <tr>
                      <td>REDES</td>
                      <td>Wi-Fi Integrado 802.11 b/g/n/ac <br>
                          Bluetooth 4.0 <br>
                          LAN (10/100/1000 Mbits/seg.) x2</td>
                    </tr>
                    <tr>
                      <td>INTERFAZ</td>
                      <td>USB: 2 x 3.0 + 5 x 2.0<br>
                          Audio: Stereo Output & Mic Input<br>
                          Lector de Tarjetas: SD/SDHC/MS/MS Pro/MMC 7 en 1 <br>
                          HDMI: 1 <br>
                          DVI: 1 <br>
                          RJ45: 1</td>
                    </tr>
                    <tr>
                      <td>CHASSIS</td>
                      <td>ZOTAC ZBOX Nano AQ01</td>
                    </tr>
                    <tr>
                      <td>DIMENSIONES </td>
                      <td>19cm (alto) x 2.5cm (Ancho) x 13.5cm (Largo)</td>
                    </tr>
                    <tr>
                      <td>SISTEMA OPERATIVO</td>
                      <td>Ubuntu Linux 14.04 LTS</td>
                    </tr>
                    <tr>
                      <td>GARANTIA</td>
                      <td>1 Año de garantia por partes defectuosas <br>
                          Soporte tecnico Online</td>
                    </tr>
                  </table>
                
                
                
                
                
                
                </div>
                <div id="pane3" class="tab-pane pane-tablet">
                  <h4>Programas</h4>
                  <ul>
                    <li>Drivers: <a href="http://support.amd.com/en-us/download/auto-detect-tool"target="_blank"style="color:#fe9c39;"><strong>http://support.amd.com/en-us/download/auto-detect-tool</strong></a></li>
                    <li>Raptr: <a href="http://raptr.com/amd" target="_blank"style="color:#fe9c39;"><strong>http://raptr.com/amd</strong></a></li>
                    <li>Steam: <a href="http://store.steampowered.com/about/"target="_blank"style="color:#fe9c39;"><strong>http://store.steampowered.com/about/</strong></a></li>
                    <li>Utilidades: <a href="http://ninite.com/"target="_blank"style="color:#fe9c39;"><strong>http://ninite.com/</strong></a></li>
                    <li>3DMark: <a href="http://www.futuremark.com/benchmarks/3dmark#windows"target="_blank"style="color:#fe9c39;"><strong>http://www.futuremark.com/benchmarks/3dmark#windows</strong></a></li>
                  </ul>

                </div>
              </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
             <div>
               <%= link_to como_comprar_path, class:'btn btn-warning pull-right', :style => 'width:300px; height:25px; font-size:2em;  ' do %>
             	<span> ¿Cómo comprar?</span>
             <%end%>
             </div>

            <%= render 'social' %>
            <br>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'zoom' %>
                
            