
<div class="container">
  	<div class="row blog">
    	<div class="span12 black-bg" style="margin-bottom:50px;">
 
	          	<div class="compania-navegacion">
		            <ul class="nav nav-tabs nav-stacked no-border">
		            	<!--formato para post -->
						<% @blog.each do |news| %>
							
						


							<h1><%= news.title %></h1>
							<% if news.created_at > Time.now.beginning_of_day %>
							    <%="#{time_ago_in_words(news.created_at)} atras"%> por Rolem.
							<% else %>
							    <%= news.created_at.strftime("%b %d, %Y") %> por Rolem.
							<% end %>
								<br>
							<%= image_tag(news.image_url) %>
							<div><%= sanitize(truncate news.description, length: 850) %> </div>
						    <%= link_to 'read more', news %> 

						    <br>						    
						    <br>
<br><br><br>

							<hr>
						<% end %>
					</ul>
	          	</div>
	          </div>
	      </div>
	  </div>
	</div>
</div>
