<h4><%= object.model %></h4>
<p><strong>Número de serie:</strong> <%= object.guarantee_number %></p>
<p><strong>Ciudad de compra:</strong> <%= object.city %></p>
<p><strong>Lugar de compra:</strong> <%= object.place %></p>
<p><strong>Fecha de compra:</strong> <%= object.date_of_purchase %></p>
<%= form_tag receipt_path(object.id), controller: 'receipts', method: :delete do %>
    <%= submit_tag 'Eliminar', class: 'btn btn-small btn-danger' %>
<% end %>