<div class="container">
  <div class="row">
    <div class="span12 white-bg"  style='height:auto;margin-bottom:50px;'>
      <div class="row">
        <div class="span6">
          <div class="row text-center">
            <div class="pc-title">
              <h2>ROLEM IGNITION<br>
              <strong style="margin-left:140px;  color:#FE9C39; font-size:0.7em;">Level 30</strong></h2>
            </div>
          </div>
          <div class="row">
            <div class="span6" style="margin-left:100px;">

              <a href="<%= image_path 'T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-front-view.jpg' %>" class="zoomableImage" rel="gal1" title="Elemento">
                <%=	image_tag 'T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-front-view.jpg', class:'pc-height', title: 'Elemento' %>
              </a>
            </div>
          </div>
          <div class="row ">
            <div class="span6">
              <div class="row">
                <div class="offset1 span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-front-view.jpg') %>', largeimage:'<%= image_path('T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-front-view.jpg') %>'}">
                    <%= image_tag 'T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-front-view.jpg', alt: 'Rolem Ignition thermaltake V3 black AMD edition front view', class:'thumbnail'  %>
                  </a>
                </div>                
                <div class="span1">
                  <a class="zoomThumbActive" href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-port-left-view.jpg') %>', largeimage:'<%= image_path('T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-port-left-view.jpg') %>'}">
                    <%=	image_tag 'T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-port-left-view.jpg', alt: 'Rolem Ignition thermaltake V3 black AMD edition port left view', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-side-view.jpg') %>', largeimage:'<%= image_path('T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-side-view.jpg') %>'}">
                    <%=	image_tag 'T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-side-view.jpg', alt: 'Rolem Ignition thermaltake V3 black AMD edition side view', class:'thumbnail'  %>
                  </a>
                </div>
                <div class="span1">
                  <a href="javascript:void(0);"
                     rel="{gallery: 'gal1', smallimage:'<%= image_path('T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-top-angle-view.jpg') %>', largeimage:'<%= image_path('T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-top-angle-view.jpg') %>'}">
                    <%=	image_tag 'T/Ignition/Rolem-Ignition-thermaltake-V3-black-AMD-edition-top-angle-view.jpg', alt: 'Rolem Ignition thermaltake V3 black AMD edition top angle view', class:'thumbnail'  %>
                  </a>
                </div>
              </div>
            </div>
          </div>
              <br>
                <div class="span6">
                  <strong class="precio">Precio con Windows:   $1.740.859    </strong>  (IVA incluido)<br>
                  <strong class="precio">Precio sin OS:    $1.653.859 </strong>  (IVA incluido)
                </div>             
        </div>
        <div class="span6">
          <div class="tabs-margin">
            <div class="tabbable tabs-title">
              <ul class="nav nav-tabs no-border">
                <!-- <li><a href="#pane1" data-toggle="tab">DESCRIPCIÓN</a></li> -->
                <li class="active border-tabs"><a href="#pane2" data-toggle="tab">ESPECIFICACIONES</a></li>
                <li><a href="#pane3" data-toggle="tab">DESCARGAS</a></li>             
                          
              </ul>
              <div class="tab-content tabs-bg">
<!--                 <div id="pane1" class="tab-pane active pane-tablet">
                  <ul>
                    <li>• Disco Duro de alta capacidad más Solid-State Cache Para tiempos de respuesta instantáneos.</li>
                    <li>• Da el salto a la GeForce® GTX 650 TI Boost para disfrutar de los más veloces juegos de pc de última generación a una calidad excepcional.</li>
                    <li>• Chasis con tan solo 24 cm de altura.</li>
                    <li>• Alta conectividad por medio de Wi-Fi y USB 3.0.</li>
                    <li>• Reproductor de DVD con quemador. Multimedia sin límites.</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div> -->
                <div id="pane2" class="tab-pane active pane-tablet">
                  <table>
                    <tr>
                      <td>GPU</td>
                      <td>AMD Radeon R7 250X 1GB GDDR5
<br>
                      640 Shader Cores
                      </td>
                    </tr>
                    <tr>
                      <td>CPU</td>
                      <td>AMD FX4300 Black Edition Quad-Core - 3.8GHz / 4.0GHz Turbo Core</td>
                    </tr>
                    <tr>
                      <td>RAM</td>
                      <td>8 GB Doble Canal – 1600 MHz DDR3</td>
                    </tr>
                    <tr>
                      <td>ALMACENAMIENTO</td>
                      <td>1 TB - 7200rpm</td>
                    </tr>
                    <tr>
                      <td>CHIPSET</td>
                      <td>760G</td>
                    </tr>
                    <tr>
                      <td>REDES</td>
                      <td>LAN (10/100/1000 Mbits/seg.)</td>
                    </tr>
                      <td>CHASSIS</td>
                      <td>Thermaltake V3 Black AMD Edition</td>
                    </tr>
                    <tr>
                      <td>DIMENSIONES </td>
                      <td>26.4cm (Alto) x 11.9cm (Ancho) x 26.1cm (Largo)</td>
                    </tr>
                    <tr>
                      <td>SISTEMA OPERATIVO</td>
                      <td>Windows 8.1 - 64bit / 7 - 64bit / NA</td>
                    </tr>
                    <tr>
                      <td>GARANTIA</td>
                      <td>1 Año de garantia por partes defectuosas <br>
                          Soporte tecnico Online</td>
                    </tr>
                  </table>
                </div>
                <div id="pane3" class="tab-pane pane-tablet">
                  <h4>Programas</h4>
                  <ul>
                    <li>Drivers: <a href="http://support.amd.com/en-us/download/auto-detect-tool"target="_blank"style="color:#fe9c39;"><strong>http://support.amd.com/en-us/download/auto-detect-tool</strong></a></li>
                    <li>Raptr: <a href="http://raptr.com/amd" target="_blank"style="color:#fe9c39;"><strong>http://raptr.com/amd</strong></a></li>
                    <li>Steam: <a href="http://store.steampowered.com/about/"target="_blank"style="color:#fe9c39;"><strong>http://store.steampowered.com/about/</strong></a></li>
                    <li>Utilidades: <a href="http://ninite.com/"target="_blank"style="color:#fe9c39;"><strong>http://ninite.com/</strong></a></li>
                    <li>3DMark: <a href="http://www.futuremark.com/benchmarks/3dmark#windows"target="_blank"style="color:#fe9c39;"><strong>http://www.futuremark.com/benchmarks/3dmark#windows</strong></a></li>
                  </ul>
                  <br>
                </div>
              </div><!-- /.tab-content -->
            </div><!-- /.tabbable -->
             <div>
               <%= link_to como_comprar_path, class:'btn btn-warning pull-right', :style => 'width:300px; height:25px; font-size:2em;  ' do %>
             	<span> ¿Cómo comprar?</span>
             <%end%>
             </div>
            <%= render 'social' %>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'zoom' %>