
<footer>
  <div class="container">
    <div class="row">

      <div class="span1 footer-dl">
        <%= link_to image_tag('footer-logo.png', alt: 'disruption Labs footer logo.'), 'http://www.disruptionlabs.co', target: '_blank' %>

      </div>
  <div>
      	<%= link_to '#'  do %>
      		<p class="span2" style="margin-top:20px;"> <i><b>R</b><i>olem</i> <i><b>M</b>edia</i> <i><b>G</b>roup</i> </p>
      	<% end -%>
      </div>

      <div class=" span3 offset1" style="width:100px;" >
        <%= image_tag 'TP/NVIDIA_PartnerForce_lockup.png', alt: 'nVIDIA' %>
      </div>
      <div class=" span3" style="width:100px;" >
        <%= image_tag 'TP/TPg2014_rgb_3000.png', alt: 'iNTEL' %>
      </div>
      <div class=" span3" style="width:100px;" >
        <%= image_tag 'TP/Fusion-Partner_Program_Select.png', alt: 'Amd' %>
      </div>

      <div class="span1 offset2" style="margin-top:20px;"><span id="cdSiteSeal2"><script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal2&amp;cdSealType=Seal2&amp;sealId=55e4ye7y7mb731d5892430d6091eara78hqey7mb7355e4ye7a037919e69651a4"></script></span></div>
      </div>
    <hr>
    <p>Copyright &copy; 2014 ROLEM SAS. Todos los derechos reservados.   <a target="_blank" style="text-decoration:underline" href="terminos_de_uso">Términos de Uso</a> | <a target="_blank" style="text-decoration:underline" href="terminos_y_condiciones">Términos y Condiciones</a> | <a target="_blank" style="text-decoration:underline" href="privacidad ">Política de Privacidad.</a> 
    </p>

  </div>
</footer>