
<footer style="filter:alpha(opacity=50); opacity:0.5;">
  <div class="container" >
    <div class="row">

      <div class="span1 footer-dl">
        <%= link_to image_tag('footer-logo.png', alt: 'disruption Labs footer logo.'), 'http://www.disruptionlabs.co', target: '_blank' %>

      </div>
  <div>
      	
      		<p class="span2" style="margin-top:20px;"> <i><b>R</b><i>olem</i> <i><b>M</b>edia</i> <i><b>G</b>roup</i> </p>
      

      </div>

      <div class=" span2 " style="width:80px;" >
        <%= image_tag 'TP/VerticalSteamOSLogotypeBlack.png', alt: 'Vertical SteamOS Logotype Black' %>
      </div>

      <div class=" span2" style="width:80px;" >
        <%= image_tag 'TP/NVIDIA_PartnerForce_lockup.png', alt: 'nVIDIA' %>
      </div>
      <div class=" span2" style="width:80px;" >
        <%= image_tag 'TP/TPg2014_rgb_3000.png', alt: 'iNTEL' %>
      </div>
      <div class=" span2" style="width:80px;" >
        <%= image_tag 'TP/AMD_Partner_Program_Select_SYSTEMBUILDER.png', alt: 'AMD Partner Program Select SYSTEMBUILDER' %>
      </div>




    <center>  <div class="span2 offset1" style="margin-top:20px;">
    <div id="webutation-badge">
<script type="text/javascript">
(function() {
window.domain = 'rolem.co';
function async_load(){
 var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
 var p = ('https:' == document.location.protocol ? 'https://' : 'http://');
 s.src = p+'www.webutation.net/js/load_badge.js';
 var x = document.getElementById('webutation-link'); x.parentNode.insertBefore(s, x); }
if (window.attachEvent) window.attachEvent('onload', async_load); else window.addEventListener('load', async_load, false);
})();
</script>
<a id="webutation-link" target="blank" href="http://www.webutation24.net/go/review/rolem.co">Webutation</a>
</div>
    <span id="cdSiteSeal2"><script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal2&amp;cdSealType=Seal2&amp;sealId=55e4ye7y7mb731d5892430d6091eara78hqey7mb7355e4ye7a037919e69651a4"></script></span>
    </div>


      </div></center>
      <br><br>

        <center>    <p>Copyright &copy; 2015 ROLEM SAS. Todos los derechos reservados.   <a target="_blank" style="text-decoration:underline" href="terminos_de_uso">Términos de Uso</a> | <a target="_blank" style="text-decoration:underline" href="terminos_y_condiciones">Términos y Condiciones</a> | <a target="_blank" style="text-decoration:underline" href="privacidad ">Política de Privacidad.</a> 
        </p></center>

  </div>
</footer>