<div class="container">
  <div class="row">
    <div class="span12">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <ul class="nav">
            <li ><%= link_to t('misc.navbar.home.one', count: 1), root_path %></li>
            <li ><%= link_to t('misc.navbar.products.one', count: 1), productos_path %></li>
            <li ><%= link_to t('misc.navbar.company.one', count: 1), compania_path %></li>
            <li ><%= link_to t('misc.navbar.porquepc.one', count: 1), por_que_pc_path %></li>
            <li ><%= link_to t('misc.navbar.blogs.one', count: 1), blog_path  %> </li>
            <li ><%= link_to t('misc.navbar.where to buy.one', count: 1), comprar_path %></li>
            <li ><%= link_to t('misc.navbar.contact.one', count: 1), contacto_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>