<div class="container">
  <div class="row">
    <div class="span12">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <ul class="nav">
            <li>
              <%=      link_to 'INICIO', root_path %>
            </li>
            <li>
              <%=      link_to 'PRODUCTOS', productos_path %>
            </li>
            <li>
              <%=      link_to 'COMPAÑIA', compania_path %>
            </li>
            <li>
              <%=      link_to '¿DÓNDE COMPRAR?', comprar_path %>
            </li>
            <li>
              <%=      link_to 'CONTACTO', contacto_path %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>