<div class="span3">

  	<a href="http://steamcommunity.com/groups/Rolem" target="_blank">
    	<%=	image_tag 'social/steam2.png',class: 'social-spacing' %>
    </a>
    <a href="https://www.facebook.com/rolemgaming" target="_blank">
        <%=	image_tag 'social/fb.png' ,class: 'social-spacing' %>
    </a>
    <a href="https://plus.google.com/112520537490081323363" rel="publisher" target="_blank">
      <%= image_tag 'social/plus.png' ,class: 'social-spacing' %>
    </a>
    <a href="https://twitter.com/RolemPC" rel="publisher" target="_blank">
      <%= image_tag 'social/tw.png' ,class: 'social-spacing' %>
    </a>    
    <a href="https://www.linkedin.com/company/rolem-sas" rel="publisher" target="_blank">
      <%= image_tag 'social/in.png' ,class: 'social-spacing' %>
    </a>    


</div>
