<div class="container">
  <div class="row">
    <div class="span12 text-center">
      <div class="row">
        <div class="span1">
          <div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
 new google.translate.TranslateElement({pageLanguage: 'es', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL, multilanguagePage: true}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--        <% if I18n.locale ==  :en %>
              <%= link_to 'Español', root_path(locale: 'es'), class: 'locale' %>
          <% else %>
              <%= link_to 'English', root_path(locale: 'en'), class: 'locale' %>
          <% end %>  --> 
        </div>
        <div class="offset7 span2">
          <div class="dropdown">
            <div class="btn-group">
              <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                <% if signed_in? %>
                    Menú
                <% else %>
                    Registrarse/Ingresar
                <% end %>
              </button>
              <ul class="dropdown-menu" role="menu">
                <div class="formulario-login">
                  <% if signed_in? %>
                      <%= render 'shared/signout' %>
                  <% else %>
                      <%= render 'shared/login' %>
                  <% end %>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <%= render 'layouts/social' %>
      </div>
    </div>
  </div>
</div>