<!DOCTYPE html>
<html>
<head>
  <title>RolemWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/user' %>
<%= render 'layouts/logo' %>
<%= render 'layouts/navbar' %>

<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>
