<!DOCTYPE html>
<html>
<head>
  <meta property="fb:app_id" content="484734861628216"/>
  <meta property="fb:admins" content="100004734156798"/>
  <meta name="msvalidate.01" content="8B4AD1B71F2F84EE77B9BA4A30A213C3" />
  <meta name="alexaVerifyID" content="SPuYp5KUO0V09b0aEPqb-pOtLzI"/>
  <meta name="norton-safeweb-site-verification" content="74xyr40un94adjni1wi85g9igme3n9z1d3u5mq117q-yl44i213bk8he5us9q4k3bnm99d1vsyf5tukj3bpfnx8u1b6qus353i3c9ajc-2ecavqu5cksio3vgrr85by8" />
  <meta name="wot-verification" content="9fa5a163278744c1ce0e"/>
  <meta name="webutation-site-verification" content="webutationc6d8892bbe822743471b2e3140a2c49a" />
  <meta content="Rolem es una empresa Colombiana que diseña y ensambla PC Desktops para Gamers. Tú eliges, tú juegas,
   tú ganas. ¡Súbele el nivel a tu juego!" name="description" />
  <meta content="juegos, pc, rendimiento, calidad, tamaño, balance, gaming, gamers, desktop, tecnología, conveniencia,
  comodidad, presupuesto, Gaming, Custom Built, Computer High Performance, Gaming Desktop, Rolem, rolem,
  computador gamers, computador alto rendimiento, alto rendimiento, comprar computador" name="keywords" />

  <meta property="og:image" content="http://www.rolem.co/assets/logo.png"/>
  <meta property="og:title" content="Rolem"/>
  <meta property="og:url" content="http://www.rolem.co"/>
  <meta property="og:site_name" content="Rolem"/>
  <link rel="shortcut icon" href="http://www.rolem.co/assets/logo-c7a02cc253742368582b7d7047a7a26f.png">

  <title>Rolem</title>

  <%= stylesheet_link_tag    'application', :media => 'all' %>
    <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render 'shared/fb' %>
  <%= render 'shared/twitter' %>
  <%= render 'shared/gp' %>
  <!-- Header -->
  <%= render 'layouts/user' %>
  <%= render 'layouts/logo' %>
  <%= render 'layouts/navbar' %>
  <!-- Flash -->
  <%= render partial: 'shared/flash', locals: { flash: flash } %>
  <!-- Main -->
  <%= yield %>
  <!-- Footer -->
  <%= render 'layouts/footer' %>

  <%= render 'layouts/ga' %>
  <aside class="container">
    <%= debug(params) if Rails.env.development? %>
  </aside>
</body>
</html>
