<!DOCTYPE html>
<html>
<head>
  <meta content="Rolem es una empresa Colombiana que diseña y ensambla PC Desktops para Gamers. Tú eliges, tú juegas,
   tú ganas. ¡Súbele el nivel a tu juego!" name="description" />
  <meta content="juegos, pc, rendimiento, calidad, tamaño, balance, gaming, gamers, desktop, tecnología, conveniencia,
  comodidad, presupuesto, Gaming, Custom Built, Computer High Performance, Gaming Desktop, Rolem, rolem,
  computador gamers, computador alto rendimiento, alto rendimiento, comprar computador" name="keywords" />
  <meta property="og:image" content="http://www.rolem.com.co<%= image_path 'logo.png' %>"/>
  <meta property="og:title" content="Rolem"/>
  <meta property="og:url" content="http://www.rolem.com.co"/>
  <meta property="og:site_name" content="Rolem"/>
  <title>Rolem</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/fb' %>
<%= render 'shared/twitter' %>
<%= render 'shared/gp' %>
<!-- Header -->
<%= render 'layouts/user' %>
<%= render 'layouts/logo' %>
<%= render 'layouts/navbar' %>
<!-- Flash -->
<%= render partial: 'shared/flash', locals: { flash: flash } %>
<!-- Main -->
<%= yield %>
<!-- Footer -->
<%= render 'layouts/footer' %>
<%= render 'layouts/chat' %>
<%= render 'layouts/feedback' %>
<%= render 'layouts/ga' %>
<aside class="container">
  <%= debug(params) if Rails.env.development? %>
</aside>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40147295-5', 'rolem-web.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>
