<!DOCTYPE html>
<html lang="es">
<head>
  <title>RolemWeb</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Header -->
<%= render 'layouts/user' %>
<%= render 'layouts/logo' %>
<%= render 'layouts/navbar' %>
<!-- Flash -->
<%= render partial: 'shared/flash', locals: { flash: flash } %>
<!-- Main -->
<%= yield %>
<!-- Footer -->
<%= render 'layouts/footer' %>

<aside class="container">
  <%= debug(params) if Rails.env.development? %>
</aside>
</body>
</html>
